<div class="space-icon item-icon-container">
  {{one-icon icon="space" class="item-icon"}}
</div>
{{#truncated-string class="space-label"}}
  {{#if provider.online}}
    <a href={{visitProviderUrl}} class="space-redirect-link">
      {{name-conflict item=space}}
    </a>
  {{else}}
    <span class="space-redirect-link">
      {{name-conflict item=space}}
    </span>
  {{/if}}
{{/truncated-string}}
<div class="space-size">{{bytes-to-string _supportSize}}</div>
