<div class="property-row timestamp-property">
  <strong class="property-label">{{tt this "timestamp"}}:</strong>
  <span class="property-value">
    {{date-format value.timestamp format="report" blank="—"}}
  </span>
</div>
<div class="property-row tsName-property">
  <strong class="property-label">{{tt this "tsName"}}:</strong>
  <span class="property-value">{{value.tsName}}</span>
</div>
<div class="property-row value-property">
  <strong class="property-label">{{tt this "value"}}:</strong>
  <span class="property-value">{{value.value}}</span>
</div>
