<div class="header-container">
  {{#bs-button-group
    class="presenter-type-selector"
    value=presenterType
    type="radio"
    onChange=(action "presenterTypeChange")
    as |bg|
  }}
    {{#each (array "visual" "raw") as |type|}}
      {{#bg.button
        type="default"
        size="sm"
        class=(concat "presenter-type-" type)
        value=type
        disabled=(not isPresenterTypeToggleEnabled)
      }}
        {{tt this (concat "presenterTypes." type)}}
      {{/bg.button}}
    {{/each}}
  {{/bs-button-group}}
  <a class="copy-link clickable" onclick={{action "copyJson"}}>
    {{one-icon icon="browser-copy"}}
    {{tt this "copyJson"}}
  </a>
</div>

{{#perfect-scrollbar-element class="content-container"}}
  {{component currentPresenterComponent
    value=value
    dataSpec=dataSpec
    context=context
  }}
{{/perfect-scrollbar-element}}
