<td>{{one-icon icon=createRevisionAction.icon}}</td>
<td colspan={{sub columnsCount 1}}>
  <span class="action-title">
    {{createRevisionAction.title}}
    {{#if createRevisionAction.tip}}
      {{one-tooltip title=createRevisionAction.tip}}
    {{/if}}
  </span>
</td>
{{yield}}
