<td class="revisions-table-data-cell revision-number">
  {{normalizedRevisionNumber}}
</td>
<td class="revisions-table-data-cell state">
  {{revisions-table/state-tag state=state}}
</td>
{{yield revision revisionNumber}}
{{#unless isReadOnly}}
  <td class="revisions-table-data-cell actions">
    {{one-menu-toggle
      id=actionsTriggerId
      class=(concat-classes
        "revision-actions-trigger clickable"
        (if areActionsOpened "active")
      )
      click=(action "toggleActionsOpen" (not areActionsOpened))
    }}
    {{#render-later triggerRender=areActionsOpened}}
      {{#one-webui-popover
        class="revision-actions"
        padding=false
        popoverStyle="with-dropdown"
        triggerSelector=(concat "#" actionsTriggerId)
        open=areActionsOpened
        onToggle=(action "toggleActionsOpen")
        as |popover|
      }}
        {{#click-outside
          onClickOutside=(action (mut areActionsOpened) false)
          exceptSelector=(concat "#" actionsTriggerId)
        }}
          {{actions-popover-content
            actionsArray=revisionActions
            actionClicked=(action "toggleActionsOpen" false)
          }}
        {{/click-outside}}
      {{/one-webui-popover}}
    {{/render-later}}
  </td>
{{/unless}}
