<td class="revisions-table-data-cell" colspan={{columnsCount}}>
  <button class="expand-button clickable" {{action "expand"}}>
    {{tt this "showMoreEntries" entriesCount=entriesCount}}
    {{one-icon icon="arrow-down"}}
  </button>
</td>
{{yield}}
