<div class="function-block">
  <div class="function-block-header">
    <span class="function-name">{{readableName}}</span>
    {{#if (and (not editorContext.isReadOnly) (not chartFunction.isRoot))}}
      <div class="function-actions">
        {{one-icon
          class="remove-action action"
          icon="x"
          click=(action "removeFunction")
        }}
      </div>
    {{/if}}
  </div>
  {{#if settingsComponentName}}
    <div class="function-block-body">
      {{component settingsComponentName
        chartFunction=chartFunction
        editorContext=editorContext
      }}
    </div>
  {{/if}}
</div>
<div class="function-arguments-container">
  {{#each functionArguments as |argumentInfo|}}
    <div class="function-argument">
      <div class="argument-start-line argument-line">
        <div class="argument-name">{{argumentInfo.readableName}}</div>
      </div>
      <div class="function-argument-blocks">
        {{#if (and
          (not editorContext.isReadOnly)
          draggedChartFunction
          argumentInfo.isArray
          argumentInfo.attachedFunctions.length
          (not-eq argumentInfo.attachedFunctions.[0] draggedChartFunction)
          (not isInDraggedChartFunction)
        )}}
          <div class="between-args-drop-target-container before-first-arg">
            {{one-draggable-object-target
              action=(action
                "acceptDraggedFunction"
                argumentInfo.name
                "before"
                argumentInfo.attachedFunctions.[0]
              )
            }}
          </div>
        {{/if}}
        {{#each argumentInfo.attachedFunctions as |func index|}}
          <div class="function-argument-block"
            data-parent-function-id={{chartFunction.id}}
            data-argument-name={{argumentInfo.name}}
            data-argument-block-idx={{index}}
          >
            <div class="argument-middle-line argument-line"></div>
            <div class="argument-end-line argument-line">
              {{#if (not editorContext.isReadOnly)}}
                <div class="attachment-actions">
                  {{one-icon
                    class="add-action action"
                    icon="plus"
                    click=(action "toggleAdder" argumentInfo.name index)
                  }}
                  {{one-icon
                    class="remove-action action"
                    icon="x"
                    click=(action "detachFunction" func)
                  }}
                  {{atm-workflow/charts-dashboard-editor/function-editor/function-adder
                    executionContext=executionContext
                    editorContext=editorContext
                    parentFunction=chartFunction
                    parentFunctionArgumentName=argumentInfo.name
                    insertAtIndex=index
                    functionToAttach=func
                    triggerSelector=(evaluate-function
                      (action getInChainFunctionAdderTriggerSelector)
                      argumentInfo.name
                      index
                    )
                    isOpened=(or (get (get adderOpenState argumentInfo.name) index) false)
                    onClose=(action "toggleAdder" argumentInfo.name index false)
                  }}
                </div>
              {{/if}}
            </div>
            {{atm-workflow/charts-dashboard-editor/function-editor/function-renderer
              chartFunction=func
              executionContext=executionContext
              editorContext=editorContext
            }}
          </div>
          {{#if (and
            (not editorContext.isReadOnly)
            draggedChartFunction
            argumentInfo.isArray
            (not-eq func draggedChartFunction)
            (not-eq (get argumentInfo.attachedFunctions (add index 1)) draggedChartFunction)
            (not isInDraggedChartFunction)
          )}}
            <div class="between-args-drop-target-container">
              {{one-draggable-object-target
                action=(action
                  "acceptDraggedFunction"
                  argumentInfo.name
                  "after"
                  func
                )
              }}
            </div>
          {{/if}}
        {{/each}}
        {{#if argumentInfo.hasFunctionAdder}}
          <div class="function-argument-block">
            <div class="argument-middle-line argument-line"></div>
            <div class="argument-end-line argument-line"></div>
            {{#one-draggable-object-target
              class="adder-draggable-object-target"
              validateDragEvent=(action "validateOnAdderDragEvent")
              action=(action "acceptDraggedFunction" argumentInfo.name null null)
            }}
              {{#one-button
                type="default"
                size="sm"
                class="add-selector-trigger"
                disabled=editorContext.isReadOnly
                onClick=(action "toggleAdder" argumentInfo.name -1)
              }}
                {{tt this "addArgument"}}
              {{/one-button}}
            {{/one-draggable-object-target}}
            {{#if (not editorContext.isReadOnly)}}
              {{atm-workflow/charts-dashboard-editor/function-editor/function-adder
                executionContext=executionContext
                editorContext=editorContext
                actionsFactory=actionsFactory
                parentFunction=chartFunction
                parentFunctionArgumentName=argumentInfo.name
                insertAtIndex=argumentInfo.attachedFunctions.length
                triggerSelector=(local-selector this.elementId ".add-selector-trigger")
                isOpened=(get (get adderOpenState argumentInfo.name) -1)
                onClose=(action "toggleAdder" argumentInfo.name -1 false)
              }}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
