{{#one-draggable-object
  content=lane
  dragHandle=".lane-drag-handle"
  isDraggable=(eq mode "edit")
  class="draggable-lane"
}}
  <div class="lane-header">
    <div class="lane-menu-trigger-space lane-drag-handle">
      {{#if (eq mode "edit")}}
        {{one-icon icon="move"}}
      {{else}}
        {{workflow-visualiser/lane/run-indicator
          class="visible-run-indicator"
          status=lane.status
          runNo=lane.visibleRunNo
          sourceRunNo=lane.visibleRun.sourceRunNo
          runType=lane.visibleRun.runType
        }}
      {{/if}}
    </div>
    {{#if (eq mode "edit")}}
      {{one-inline-editor
        class="lane-name"
        value=name
        hideViewIcons=true
        onSave=(action "changeName")
      }}
    {{else}}
      {{#truncated-string class="lane-name"}}{{name}}{{/truncated-string}}
    {{/if}}
    <div class="lane-menu-trigger-space">
      {{one-menu-toggle
        class=(concat-classes
          "lane-actions-trigger"
          (concat "actions-trigger-" elementId)
          (if areActionsOpened "active")
        )
        click=(action "toggleActionsOpen" (not areActionsOpened))
      }}
      {{#render-later triggerRender=areActionsOpened}}
        {{#one-webui-popover
          class="lane-actions"
          padding=false
          popoverStyle="with-dropdown"
          triggerSelector=(concat ".actions-trigger-" elementId)
          open=areActionsOpened
          onToggle=(action "toggleActionsOpen")
          as |popover|
        }}
          {{#click-outside
            action=(action (mut areActionsOpened) false)
            except-selector=(concat ".actions-trigger-" elementId)
          }}
            {{actions-popover-content
              actionsArray=laneActions
              actionClicked=(action "toggleActionsOpen" false)
            }}
          {{/click-outside}}
        {{/one-webui-popover}}
      {{/render-later}}
    </div>
  </div>
  {{#if (eq mode "view")}}
    <div class="lane-runs-info">
      {{workflow-visualiser/lane/runs-list
        visibleRunsLimit=6
        runs=lane.runs
        visibleRunsPosition=lane.visibleRunsPosition
        selectedRunNo=lane.visibleRunNo
        onSelectionChange=(action "changeRun")
        onVisibleRunsPositionChange=(action (mut lane.visibleRunsPosition))
      }}
    </div>
  {{/if}}
  <div class="lane-store-info">
    <span class="one-label">{{iteratorStrategyLabel}}</span>
    {{#if lane.iteratedStore}}
      <div class="tags-input readonly">
        {{workflow-visualiser/stores-list/store
          store=lane.iteratedStore
          mode=mode
          actionsFactory=actionsFactory
          isRemovingAllowed=false
        }}
      </div>
    {{else}}
      <span class="one-label">{{tt this "unknownStore"}}</span>
    {{/if}}
  </div>
  {{#perfect-scrollbar-element class="lane-elements"}}
    {{#each laneElements as |laneElement|}}
      {{workflow-visualiser/visualiser-element-renderer
        elementModel=laneElement
      }}
    {{/each}}
  {{/perfect-scrollbar-element}}
{{/one-draggable-object}}
{{yield}}
