{{#component (concat "query-builder/" queryBlock.renderer)
  class=(concat "block-level-" level)
  operators=operators
  refreshQueryProperties=(action "refreshQueryProperties")
  queryBlock=queryBlock
  queryProperties=queryProperties
  level=level
  readonly=readonly
  onConditionEditionStart=onConditionEditionStart
  onConditionEditionEnd=onConditionEditionEnd
  onConditionEditionValidityChange=onConditionEditionValidityChange
  onBlockRemoved=onBlockRemoved
}}
  {{#unless readonly}}
    <button
      class="block-button remove-block clickable"
      onclick={{onBlockRemove}}
      onmouseenter={{action "removeButtonHover" true}}
      onmouseleave={{action "removeButtonHover" false}}
    >
      {{one-icon icon="x"}}
    </button>
    {{query-builder/block-settings
      queryBlock=queryBlock
      operators=operators
      parentQueryBlock=parentQueryBlock
      onBlockReplace=onBlockReplace
      open=areSettingsVisible
      onSettingsClose=(action "onSettingsClose")
    }}
  {{/unless}}
{{/component}}