{{#if (eq mode "create")}}
  {{#if (not effHideConditionCreation)}}
    <div class="condition-selector">
      <h1>{{tt this "conditionHeader"}}</h1>
      {{query-builder/block-selector/condition-selector
        onConditionSelected=(action "conditionAdded")
        queryProperties=queryProperties
      }}
    </div>
    {{#hr-label class="hr-label-query-builder"}}
      {{tt this "orLineText"}}
    {{/hr-label}}
  {{/if}}
  <div class="operators-section add-operator-section">
    <h1>{{tt this "operatorHeader"}}</h1>
    {{query-builder/block-selector/operator-selector
      operators=operators
      onOperatorSelected=(action "operatorAdded")
    }}
  </div>
{{else}}
  <div class="operators-section surround-section">
    <h1>{{tt this "surroundHeader"}}</h1>
    {{query-builder/block-selector/operator-selector
      operators=operators
      onOperatorSelected=(action "surround")
    }}
  </div>
  {{#if isEditBlockAnOperator}}
    {{#hr-label class="hr-label-query-builder"}}
      {{tt this "orLineText"}}
    {{/hr-label}}
    <div class="operators-section change-to-section">
      <h1>{{tt this "changeToOperatorHeader"}}</h1>
      {{query-builder/block-selector/operator-selector
        operators=editOperators
        disabledOperators=disabledOperatorsForChange
        onOperatorSelected=(action "changeToOperator")
      }}
    </div>
  {{/if}}
{{/if}}
