<dt class="property-key">
  {{!-- FIXME: use strategies for displaying --}}
  {{#if (eq displayedKey queryBlock.property.key)}}
    {{displayedKey}}
  {{else}}
    <em>
      {{displayedKey}}
    </em>
  {{/if}}
</dt>
{{#if queryBlock.comparatorValue}}
  <dd class="property-comparison">
    <span class="comparator">{{tt this (concat "comparators." queryBlock.comparator)}}</span>
    {{query-builder/condition-comparator-value-editor
      class="clickable"
      inputClass="input-sm"
      queryProperty=queryProperty
      mode=(if readonly "view" mode)
      comparator=queryBlock.comparator
      value=(if (eq mode "edit") editComparatorValue queryBlock.comparatorValue)
      isValueInvalid=(not isEditComparatorValueValid)
      onStartEdit=(action "startEdit")
      onValueChange=(action "comparatorValueChange")
      onFinishEdit=(action "finishEdit")
      onCancelEdit=(action "cancelEdit")
    }}
  </dd>
{{/if}}
{{yield}}
