{{#if viewMode}}
  <span
    onclick={{action "onStartEdit"}}
    class="comparator-value comparator-value-view {{elementClass}}"
  >
    {{viewModeComparatorValue}}
  </span>
{{else}}
  <div
    id={{componentGuid}}
    class="form-group form-group-fill-line comparator-value-editor {{comparatorEditor.type}}-editor {{if isValueInvalid "has-error"}} {{elementClass}}"
  >
    {{#if (eq comparatorEditor.type "dropdown")}}
      {{#power-select
        class="comparator-value"
        options=comparatorEditor.values
        selected=value
        renderInPlace=true
        placeholder=(tt this "dropdownPlaceholder")
        onchange=(action "valueChanged")
        onclose=(action "onFinishEdit")
        as |comparatorValue|
      }}
        {{comparatorValue}}
      {{/power-select}}
    {{else if (eq comparatorEditor.type "text")}}
      <input
        type="text"
        class="comparator-value form-control {{if isValueInvalid "is-invalid"}} {{inputClass}}"
        value={{value}}
        oninput={{action "valueChanged" value="target.value"}}
        onkeydown={{action "onKeyDown"}}
        onblur={{action "onFinishEdit"}}
      >
    {{/if}}
  </div>
{{/if}}
