{{#if viewMode}}
  <span
    onclick={{action "onStartEdit"}}
    class="comparator-value comparator-value-view {{elementClass}}"
  >
    {{viewModeComparatorValue}}
  </span>
{{else}}
  {{!-- TODO: support for dropdown with values --}}
  <div
    id={{componentGuid}}
    class="form-group form-group-fill-line comparator-value-editor {{comparatorEditor.type}}-editor {{if this.isValueInvalid "has-error"}} {{elementClass}}"
  >
    <input
      type="text"
      class="comparator-value form-control {{if isValueInvalid "is-invalid"}} {{inputClass}}"
      value={{value}}
      oninput={{action "valueChanged" value="target.value"}}
      onkeydown={{action "onKeyDown"}}
      onblur={{action "onFinishEdit"}}
    >
  </div>
{{/if}}
