{{!-- <BsButton
  @type="primary"
  @outline={{true}}
  @onClick={{this.openCurlModal}}
  class="query-builder-curl-generator generate-query-request btn-input-padding"
  ...attributes
>
  {{tt this "triggerLabel"}}
  {{yield}}
</BsButton>
<BsModal
  @open={{isCurlModalVisible}}
  @onHidden={{this.closeCurlModal}}
  @size="lg"
  @position="center"
  class="curl-generator-modal"
  as |modal|
>
  <modal.header @closeButton={{false}}>
    <h1 class="modal-title">{{tt this "modalTitle"}}</h1>
  </modal.header>
  <modal.body>
    <div class="curl-generator-body">
      <PromiseLoader @promise={{this.curlPromise}} as |curlRequest|>
        <p class="command-description">{{tt this "commandDescription"}}</p>
        <p class="access-token-info">{{tt this "accessTokenInfo" htmlSafe=true}}</p>
        <OneCopyButton
          @value={{curlRequest}}
          @mode="textarea"
        />
      </PromiseLoader>
    </div>
  </modal.body>
  <modal.footer>
    <BsButton
      @onClick={{modal.close}}
      @type="primary"
    >
      {{tt this "closeModal"}}
    </BsButton>
  </modal.footer>
</BsModal> --}}
