<div class="property-row start-property">
  <strong class="property-label">{{tt this "start"}}:</strong>
  <span class="property-value">{{value.start}}</span>
</div>
<div class="property-row end-property">
  <strong class="property-label">{{tt this "end"}}:</strong>
  <span class="property-value">{{value.end}}</span>
</div>
<div class="property-row step-property">
  <strong class="property-label">{{tt this "step"}}:</strong>
  <span class="property-value">{{value.step}}</span>
</div>
