<h2>file-icon</h2>

<p>Regular: {{file-icon fileType="REG"}}</p>
<p>Directory: {{file-icon fileType="DIR"}}</p>
<p>Symbolic link (without target info): {{file-icon fileType="SYMLNK"}}</p>
<p>Symbolic link (target regular): {{file-icon fileType="SYMLNK" symbolicLinkTargetType="REG"}}</p>
<p>Symbolic link (target directory): {{file-icon fileType="SYMLNK" symbolicLinkTargetType="DIR"}}</p>
<p>Symbolic link (target broken): {{file-icon fileType="SYMLNK" symbolicLinkTargetType=null}}</p>
