<div class="container">
  <div class="row row-content">
    <h3>tab-bar-ul without scroll</h3>
    <div class="one-tab-bar">
      {{#one-tab-bar/tab-bar-ul-container as |ulContainer|}}
        {{#one-tab-bar/tab-bar-ul style=ulContainer.tabBarUlStyle as |tabBar|}}
          {{one-tab-bar/tab-bar-li
            isActive=(eq tabBar.activeTabId "cracow")
            tabClicked=(action tabBar.tabClicked "cracow")
            text="Onecracow Provider"
            icon="provider"
            class="tab-provider-online"
          }}
          {{one-tab-bar/tab-bar-li
            isActive=(eq tabBar.activeTabId "lisbon")
            tabClicked=(action tabBar.tabClicked "lisbon")
            text="Onelisbon Provider With Very Long Name"
            icon="provider"
            class="tab-provider-offline"
          }}
        {{/one-tab-bar/tab-bar-ul}}
      {{/one-tab-bar/tab-bar-ul-container}}
    </div>
  </div>
  <div class="row row-content">
    <h3>tab-bar-ul with scroll</h3>
    <div class="one-tab-bar">
      {{#one-tab-bar/tab-bar-ul-container as |ulContainer|}}
        {{#one-tab-bar/tab-bar-ul style=ulContainer.tabBarUlStyle as |tabBar|}}
          {{one-tab-bar/tab-bar-li
            isActive=(eq tabBar.activeTabId "cracow")
            tabClicked=(action tabBar.tabClicked "cracow")
            text="Onecracow Provider"
            icon="provider"
            class="tab-provider-online"
          }}
          {{one-tab-bar/tab-bar-li
            isActive=(eq tabBar.activeTabId "lisbon")
            tabClicked=(action tabBar.tabClicked "lisbon")
            text="Onelisbon Provider With Very Long Name"
            icon="provider"
            class="tab-provider-offline"
          }}
          {{one-tab-bar/tab-bar-li
            isActive=(eq tabBar.activeTabId "paris")
            tabClicked=(action tabBar.tabClicked "paris")
            text="Oneparis Provider With Long Name"
            icon="provider"
            class="tab-provider-online"
          }}
          {{#each (range 1 20) as |i|}}
            {{one-tab-bar/tab-bar-li
              isActive=(eq tabBar.activeTabId i)
              tabClicked=(action tabBar.tabClicked i)
              text=(concat "Long Tab " i)
              icon="provider"
              class="tab-provider-online"
            }}
          {{/each}}
        {{/one-tab-bar/tab-bar-ul}}
      {{/one-tab-bar/tab-bar-ul-container}}
    </div>
  </div>
  {{!-- <div class="row row-content">
    <h3>tab-bar-ul-container</h3>
    {{#tab-bar-ul-container}}
      {{#each (repeat 10) as |i|}}
        {{tab-bar-li text=(concat "Tab " i) icon="provider" class="tab-provider-online"}}
      {{/each}}
    {{/tab-bar-ul-container}}
  </div>
  <div class="row row-content">
    <h3>tab-bar-selector</h3>
    {{tab-bar-selector items=items}}
  </div>
  <div class="row row-content">
    <h3>tab-bar (customized tab-bar-li for each item, and selector)</h3>
    {{#tab-bar items=items as |item|}}
      {{tab-bar-li text=item.text icon=item.icon class=item.class}}
    {{/tab-bar}}
  </div>
  <div class="row row-content">
    <h3>Modern</h3>
    {{#bs-tab customTabs=true class="bs-tab-onedata bs-tab-modern" as |tab|}}
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item active=(bs-eq tab.activeId "pane21")}}
          <a href="#pane21" class="nav-link" role="tab" {{action tab.select "pane21"}}>Tab 1</a>
        {{/nav.item}}
        {{#nav.item active=(bs-eq tab.activeId "pane22")}}
          <a href="#pane12" class="nav-link" role="tab" {{action tab.select "pane22"}}>Tab 2</a>
        {{/nav.item}}
        {{#nav.item class="disabled" active=(bs-eq tab.activeId "pane23")}}
          <a href="#pane23" class="nav-link" role="tab" {{action tab.select "pane23"}}>Tab 3</a>
        {{/nav.item}}
      {{/bs-nav}}
      <div class="tab-content">
        {{#tab.pane elementId="pane21" title="Hello"}}
          <div class="row content-row">
            Some content
          </div>
        {{/tab.pane}}
        {{#tab.pane elementId="pane22" title="World"}}
          <div class="row content-row">
            Other content
          </div>
        {{/tab.pane}}
        {{#tab.pane elementId="pane23" title="Disabled"}}
          <div class="row content-row">
            No content
          </div>
        {{/tab.pane}}        
      </div>
    {{/bs-tab}}
  </div> --}}
</div>
  

