<h2>one-file-icon</h2>

<p>Regular: {{one-file-icon fileType="REG"}}</p>
<p>Directory: {{one-file-icon fileType="DIR"}}</p>
<p>Symbolic link (without target info): {{one-file-icon fileType="SYMLNK"}}</p>
<p>Symbolic link (target regular): {{one-file-icon fileType="SYMLNK" symbolicLinkTargetType="REG"}}</p>
<p>Symbolic link (target directory): {{one-file-icon fileType="SYMLNK" symbolicLinkTargetType="DIR"}}</p>
<p>Symbolic link (target broken): {{one-file-icon fileType="SYMLNK" symbolicLinkTargetType=null}}</p>
