<div class="row row-tagged-example row-tagged-example">
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="none" class="danger"}}
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="icon" class="danger"}}
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="circle" class="danger"}}
</div>
<div class="row row-tagged-example row-tagged-example-sand">
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="none" class="danger gray-sand"}}
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="icon" class="danger gray-sand"}}
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="circle" class="danger gray-sand"}}
</div>
<div class="row row-tagged-example row-tagged-example example-right">
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="none" class="danger tag-right"}}
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="icon" class="danger tag-right"}}
  {{one-icon-tagged icon="space" tagIcon="x" shadowType="circle" class="danger tag-right"}}
</div>
<div class="row row-tagged-example row-tagged-example-sand example-right">
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="none" class="danger gray-sand tag-right"}}
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="icon" class="danger gray-sand tag-right"}}
  {{one-icon-tagged icon="provider" tagIcon="x" shadowType="circle" class="danger gray-sand tag-right"}}
</div>
