<div class="container">
  <h3>Large</h3>
  <div class="row row-content">
    {{one-clipboard-line value="Hello world"}}
  </div>
  <h3>Small</h3>
  <div class="row row-content">
    {{one-clipboard-line size="sm" value="Hello world"}}
  </div>
  <h3>Large without text</h3>
  <div class="row row-content">
    {{one-clipboard-line value="Hello world" showText=false}}
  </div>
  <h3>Small without text</h3>
  <div class="row row-content">
    {{one-clipboard-line size="sm" value="Hello world" showText=false}}
  </div>
  <h3>Large with primary button and label</h3>
  <div class="row row-content">
    {{one-clipboard-line label="Large:" btnType="primary" value="Hello world"}}
  </div>
  <h3>Small with primary button and label</h3>
  <div class="row row-content">
    {{one-clipboard-line label="Small:" size="sm" btnType="primary" value="Hello world"}}
  </div>
</div>
