<div class="container">
  <div class="row row-content">
    <h3>OneDropdown small</h3>
    <div class="row">
      <OneDropdown
        @triggerClass="small"
        @dropdownClass="small"
        @options={{array "one" "two" "three"}}
        @selected={{valueSmall}}
        @searchEnabled={{true}}
        @onChange={{action (mut valueSmall)}}
        as |value|
      >
        {{value}}
      </OneDropdown>
    </div>
  </div>
  <div class="row row-content">
    <h3>OneDropdown pseudo-text</h3>
    <div class="row">
      <p>Hello world</p>
      <div class="row">
        <div class="col-xs-4 text-with-power-select text-right">
          Text on left
        </div>
        <div class="col-xs-4">
          <OneDropdown
            @triggerClass="small text-like"
            @dropdownClass="small"
            @options={{array "very long text very" "two" "three"}}
            @selected={{valueSmallText}}
            @onChange={{action (mut valueSmallText)}}
            as |value|
          >
            {{value}}
          </OneDropdown>
        </div>
        <div class="col-xs-4 text-with-power-select">
          Some text on right
        </div>
      </div>
      <p>Foo bar</p>
    </div>
  </div>
</div>
