<div class="container">
  <h3>Large</h3>
  <div class="row row-content">
    {{one-clipboard-line value=longText}}
  </div>
  <h3>Small</h3>
  <div class="row row-content">
    {{one-clipboard-line size="sm" value=longText}}
  </div>
  <h3>Large with label</h3>
  <div class="row row-content">
    {{one-clipboard-line label="Large:" value=shortText}}
  </div>
  <h3>Small with label</h3>
  <div class="row row-content">
    {{one-clipboard-line label="Small:" size="sm" value=shortText}}
  </div>
  <h3>Textarea</h3>
  <div class="row row-content">
    {{one-clipboard-line class="monospace" type="textarea" value=textareaFillText}}
  </div>
</div>
