{{one-icon-tagged
  class=(concat-classes
    "sidebar-item-icon"
    (if offline "item-error")
    (if pending "item-pending")
  )
  icon=firstLevelItemIcon
  iconClass=(if pending "pulse-inherit-disabled animated infinite hinge")
  tagIcon=(if offline "x")
  shadowType="none"
}}
<div class="sidebar-item-title">
  {{#truncated-string class="sidebar-item-title-upper"}}
    {{#if item.name}}
      {{name-conflict item=item tagName="span" class="one-label"}}
    {{else if item.isNotDeployed}}
      {{t "components.sidebarClusters.clusterItem.newCluster"}}
    {{else}}
      {{t "components.sidebarClusters.clusterItem.nameNotAvailable"}}
    {{/if}}
  {{/truncated-string}}
  {{#truncated-string class="domain sidebar-item-title-lower"}}
    {{or item.domain (t "components.sidebarClusters.clusterItem.domainNameNotAvailable")}}
  {{/truncated-string}}
</div>

{{#unless inSidenav}}
  {{actions-toolbar
    isMinimized=true
    dropdownPlacement="auto"
    actionsArray=itemActions
  }}
{{/unless}}
