{{one-icon icon=icon}} <span class="name">{{item.name}}</span>
<span class="additional-info">
  <span class="unit-name">{{readableUnitName}}</span> |
  {{one-icon icon=seriesIcon}}
  <span class="series-count">{{item.series.length}}</span>
</span>
