<ol class="list-items">
  {{#each itemModels as |itemModel|}}
    {{atm-workflow/charts-dashboard-editor/chart-editor/elements-list-item
      itemModel=itemModel
      allowNesting=allowNesting
      hideActions=hideActions
      isDraggable=allowItemsDragDrop
      editorContext=editorContext
    }}
  {{/each}}
</ol>
{{#if (and (not editorContext.isReadOnly) dropZones.length)}}
  <div class="drop-zones-container">
    {{#each dropZones as |dropZone|}}
      <div
        class="drop-zone-container" style={{dropZone.style}}
        data-reference-element-id={{dropZone.referenceElement.id}}
        data-placement={{dropZone.placement}}
      >
        {{one-draggable-object-target
          class=(concat "drop-zone drop-zone-" dropZone.placement)
          action=(action "acceptDrop" dropZone.referenceElement dropZone.placement)
        }}
      </div>
    {{/each}}
  </div>
{{/if}}
