{{one-icon icon="items-grid"}} <span class="name">{{item.name}}</span>
<span class="additional-info">
  {{#if item.stacked}}
    {{tt this "stack"}} |
  {{/if}}
  {{#if item.showSum}}
    {{tt this "sum"}} |
  {{/if}}
  {{one-icon icon="chart"}} {{item.series.length}}
</span>
