{{one-icon icon=icon}} <span class="name">{{item.name}}</span>
<span class="additional-info">
  {{#if item.stacked}}
    {{tt this "stack"}} |
  {{/if}}
  {{#if item.showSum}}
    {{tt this "sum"}} |
  {{/if}}
  {{one-icon icon=seriesIcon}}
  <span class="series-count">{{item.series.length}}</span>
</span>
