{{#if indicesToHighlight.length}}
  <div class="alert alert-info">{{tt this "highlightedItemsInfo"}}</div>
{{/if}}

{{#if (eq itemDataSpec.type "object")}}
  {{modals/workflow-visualiser/store-modal/visible-properties-selector
    availableProperties=availableColumns
    visibleProperties=visibleColumns
    isMaxPropertiesCountReached=(gte availableColumns.length maxAvailableColumnsCount)
    onTogglePropertyVisibility=(action "toggleColumnVisibility")
  }}
{{/if}}

{{!-- Adding 1 to tableColumnsCount to include traceId column --}}
{{#infinite-scroll-table
  onFetchEntries=fetchEntriesCallback
  columnsCount=(add tableColumnsCount 1)
  updateStrategy="always"
  rowHeight=45
  doesOpenDetailsOnClick=true
  initialJumpIndex=(get indicesToHighlight "0")
  as |section|
}}
  {{#if (eq section.sectionName "tableHead")}}

    {{#component tableHeaderRowPresenterComponent
      columns=visibleColumns
      as |headerRow|
    }}
      {{#if (eq headerRow.section "start")}}
        <th class="column-trace-id">{{tt this "traceIdHeader"}}</th>
      {{/if}}
    {{/component}}

  {{else if (eq section.sectionName "entryRow")}}

    {{#if section.entry.success}}
      {{#component tableBodyRowPresenterComponent
        value=section.entry.value
        dataSpec=itemDataSpec
        context=context
        columns=visibleColumns
        click=section.onRowClick
        class=(concat-classes
          section.rowClassName
          (if (contains section.entry.index indicesToHighlight) "highlight-row")
        )
        dataRowId=section.dataRowId
        as |row|
      }}
        {{#if (eq row.section "start")}}
          <td class="column-trace-id">
            {{#truncated-string}}
              {{get itemIndexToTraceIdMap section.entry.index}}
            {{/truncated-string}}
          </td>
        {{/if}}
      {{/component}}
    {{else}}
      <tr
        class={{concat-classes
          section.rowClassName
          "text-danger"
          (if (contains section.entry.index indicesToHighlight) "highlight-row")
        }}
        data-row-id={{section.dataRowId}}
        onclick={{section.onRowClick}}
      >
        <td class="column-trace-id">
          {{#truncated-string}}
            {{get itemIndexToTraceIdMap section.entry.index}}
          {{/truncated-string}}
        </td>
        <td colspan={{tableColumnsCount}} class="truncate">
          {{evaluate-function createErrorMessage section.entry}}
        </td>
      </tr>
    {{/if}}

  {{else if (eq section.sectionName "entryDetails")}}

    {{modals/workflow-visualiser/store-modal/value-container-presenter
      dataSpec=itemDataSpec
      valueContainer=section.entry
      context=context
    }}
    <div class="trace-id-container">
      {{one-clipboard-line
        class="trace-id-clipboard-line"
        size="sm"
        label=(concat (tt this "traceIdHeader") ":")
        value=(get itemIndexToTraceIdMap section.entry.index)
      }}
    </div>

  {{/if}}
{{/infinite-scroll-table}}
