{{#if (eq itemDataSpec.type "object")}}
  {{#one-button size="sm" class="visible-properties-btn clickable"}}
    {{tt this "visibleProperties"
      total=availableColumns.length
      visible=visibleColumns.length
    }}
  {{/one-button}}
  {{#one-webui-popover
    class="list-store-presenter-properties-popover"
    triggerSelector=(local-selector elementId ".visible-properties-btn")
  }}
    {{#perfect-scrollbar-element class="properties-list-container"}}
      <ul class="properties-list">
        {{#each availableColumns as |property|}}
          <li class="property">
            {{one-checkbox
              class="property-checkbox"
              inputId=(concat elementId "-" property)
              checked=(contains property visibleColumns)
              update=(action "toggleColumnVisibility" property)
            }}
            <label for={{concat elementId "-" property}}>
              {{#truncated-string}}{{property}}{{/truncated-string}}
            </label>
          </li>
        {{else}}
          {{tt this "noDetectedProperties"}}
        {{/each}}
      </ul>
      {{#if (gte availableColumns.length maxAvailableColumnsCount)}}
        <small class="limited-properties-message text-muted">
          {{tt this "limitedProperties" count=availableColumns.length}}
        </small>
      {{/if}}
    {{/perfect-scrollbar-element}}
  {{/one-webui-popover}}
{{/if}}

{{#infinite-scroll-table
  onFetchEntries=fetchEntriesCallback
  columnsCount=tableColumnsCount
  updateStrategy="always"
  rowHeight=45
  doesOpenDetailsOnClick=true
  as |section|
}}
  {{#if (eq section.sectionName "tableHead")}}

    {{component tableHeaderRowPresenterComponent
      columns=visibleColumns
    }}

  {{else if (eq section.sectionName "entryRow")}}

    {{#if section.entry.success}}
      {{component tableBodyRowPresenterComponent
        value=section.entry.value
        dataSpec=itemDataSpec
        context=context
        columns=visibleColumns
        click=section.onRowClick
        class=section.rowClasses
        dataRowId=section.dataRowId
      }}
    {{else}}
      <tr
        class={{concat-classes section.rowClasses "text-danger"}}
        data-row-id={{section.dataRowId}}
        onclick={{section.onRowClick}}
      >
        <td colspan={{tableColumnsCount}} class="truncate">
          {{evaluate-function createErrorMessage section.entry}}
        </td>
      </tr>
    {{/if}}

  {{else if (eq section.sectionName "entryDetails")}}

    {{modals/workflow-visualiser/store-modal/value-container-presenter
      dataSpec=store.config.itemDataSpec
      valueContainer=section.entry
      context=context
    }}

  {{/if}}
{{/infinite-scroll-table}}
