{{#loading-container isLoading=storeEntries.isLoading sizeClass="sm"}}
  {{#scrollable-table
    class=(concat "table one-infinite-list columns-count-" tableColumns.length)
    as |table|
  }}
    {{#if storeEntries.length}}
      {{modals/workflow-visualiser/store-modal/store-content-table/table-header
        columns=tableColumns
      }}
    {{/if}}
    <tr class="first-row">
      <td colspan="9999" style={{firstRowStyle}}></td>
    </tr>
    <div class="table-start-row"></div>
    {{#unless storeEntries.length}}
      <tr class="table-is-empty-row">
        <td class="table-is-empty-cell" colspan="9999">
          {{emptyStoreText}}
        </td>
      </tr>
    {{else}}
      {{#if (and storeEntries.initialLoad.isSettled fetchingPrev)}}
        <tr class="loading-row">
          <td colspan="9999" class="loading-row-cell">
            {{spin-spinner-block
              sizeClass="xs"
              class="absolute-middle-centered"
            }}
          </td>
        </tr>
      {{/if}}
      {{#each storeEntries key="index" as |storeEntry|}}
        {{modals/workflow-visualiser/store-modal/store-content-table/table-row
          columns=tableColumns
          config=tableRowsConfig
          entry=storeEntry
          isExpanded=(eq expandedEntryIndex storeEntry.index)
          onExpand=(action "expandEntry" storeEntry.index)
          onCollapse=(action "collapseEntry" storeEntry.index)
          visibleAreaWidth=table.size.width
          visibleAreaXOffset=table.scrollPosition.left
        }}
      {{/each}}
      {{#if (and storeEntries.initialLoad.isSettled fetchingNext)}}
        <tr class="loading-row">
          <td colspan="9999" class="loading-row-cell">
            {{spin-spinner-block
              sizeClass="xs"
              class="absolute-middle-centered"
            }}
          </td>
        </tr>
      {{/if}}
    {{/unless}}
  {{/scrollable-table}}
{{/loading-container}}
{{yield}}
