{{yield (hash section="start")}}
<td class="column-name">
  {{#truncated-string}}
    {{one-file-icon
      class="file-icon"
      fileType=type
      symbolicLinkTargetType=symbolicLinkTargetType
    }}
    {{#if urlProxy.content}}
      <a
        class="file-name details-title clickable navy"
        href={{urlProxy.content}}
        target={{or context.linkTarget "_top"}}
      >
        {{#if name}}{{name}}{{else}}<em>{{tt this "unknown"}}</em>{{/if}}
      </a>
    {{else}}
      <span class="file-name details-title">
        {{#if name}}{{name}}{{else}}<em>{{tt this "unknown"}}</em>{{/if}}
      </span>
    {{/if}}
  {{/truncated-string}}
</td>
<td class="column-path">
  {{#truncated-string class=(if pathProxy.isFulfilled "truncate-from-left")}}
    {{#if pathProxy.isPending}}
      <em>{{tt this "loading"}}</em>
    {{else if (eq pathProxy.content null)}}
      <em>{{tt this "unknown"}}</em>
    {{else}}
      <span class="value-container">{{pathProxy.content}}</span>
    {{/if}}
  {{/truncated-string}}
</td>
<td class="column-size">
  {{#truncated-string}}
    {{#if sizeProxy.isPending}}
      <em>{{tt this "loading"}}</em>
    {{else if (eq sizeProxy.content null)}}
      <em>{{tt this "unknown"}}</em>
    {{else}}
      {{sizeProxy.content}}
    {{/if}}
  {{/truncated-string}}
</td>
{{yield (hash section="end")}}
