<div class="form-group property-selector-container">
  {{#power-select
    options=queryPropertiesForSelector
    selected=selectedConditionProperty
    onchange=(action "conditionPropertyChanged")
    searchEnabled=true
    searchField="key"
    renderInPlace=true
    placeholder=(tt this "propertySelectorPlaceholder")
    class="property-selector"
    triggerClass="small"
    dropdownClass="small"
    as |queryProperty|
  }}
    <span class="parameter-suggestion-name">
      {{!-- FIXME: emphasise by css class --}}
      {{#if queryProperty.isSpecialKey}}
        <em>{{queryProperty.displayedKey}}</em>
      {{else}}
        <span>{{queryProperty.displayedKey}}</span>
      {{/if}}
      
    </span>
  {{/power-select}}
</div>
<div class="comparator-main-container">
  {{#if comparators.length}}
    <div class="form-group form-group-no-shrink comparator-selector-container">
      {{#if (gt comparators.length 1)}}
        {{#power-select
          options=comparators
          selected=selectedConditionComparator
          onchange=(action "conditionComparatorChanged")
          renderInPlace=true
          triggerClass="small"
          dropdownClass="small"
          class="comparator-selector"
          as |comparator|
        }}
          {{tt this (concat "comparators." comparator)}}
        {{/power-select}}
      {{else}}
        <span class="comparator-selector">
          {{tt this (concat "comparators." comparators.firstObject)}}
        </span>
      {{/if}}
    </div>
    {{query-builder/condition-comparator-value-editor
      mode="create"
      comparator=selectedConditionComparator
      value=conditionComparatorValue
      queryProperty=selectedConditionProperty
      onValueChange=(action "conditionComparatorValueChanged")
      class="form-group-fill-line"
    }}
  {{/if}}
</div>
<div class="form-group accept-condition-container">
  {{#bs-button
    class="accept-condition"
    disabled=(not isConditionDataValid)
    type="primary"
    size="sm"
    onClick=(action "conditionSelected")
  }}
    {{tt this "acceptCondition"}}
  {{/bs-button}}
</div>
{{yield}}
