<div class="form-group form-group-full-line property-selector-container">
  {{#power-select
    options=queryProperties
    selected=selectedConditionProperty
    onchange=(action "conditionPropertyChanged")
    searchEnabled=true
    searchField="key"
    renderInPlace=true
    placeholder=(tt this "propertySelectorPlaceholder")
    class="property-selector"
    as |queryProperty|
  }}
    <span class="parameter-suggestion-name">
      {{queryProperty.key}}
    </span>
  {{/power-select}}
</div>
<div class="comparator-main-container">
  {{#if comparators.length}}
    {{!-- {{#bs-button-group
      value=comparatorMode
      onChange=(action (mut comparatorMode))
      type="radio"
      size="sm"
      class="btn-group-comparator-mode"
      as |bg|
    }}
      {{#each (array "known" "custom") as |comparatorMode|}}
        {{#bg.button value=unit}}
          {{tt this (concat "comparatorMode." comparatorMode)}}
        {{/bg.button}}
      {{/each}}
    {{/bs-button-group}} --}}
    <div class="form-group form-group-no-shrink comparator-selector-container">
      {{#power-select
        options=comparators
        selected=selectedConditionComparator
        onchange=(action "conditionComparatorChanged")
        renderInPlace=true
        class="comparator-selector"
        as |comparator|
      }}
        {{tt this (concat "comparators." comparator)}}
      {{/power-select}}
    </div>
    {{query-builder/condition-comparator-value-editor
      mode="create"
      comparatorEditor=comparatorEditor
      comparator=conditionComparator
      value=conditionComparatorValue
      onValueChange=(action "conditionComparatorValueChanged")
      class="form-group-fill-line"
    }}
  {{/if}}
</div>
<div class="form-group-full-line">
  {{#bs-button
    class="accept-condition"
    disabled=(not isConditionDataValid)
    type="primary"
    size="sm"
    onClick=(action "conditionSelected")
  }}
    {{tt this "acceptCondition"}}
  {{/bs-button}}
</div>
{{yield}}
