<div class="row">
  {{#if (and upperTitle upperSubtitle)}}
    <div class="login-upper-title">{{upperTitle}} {{upperSubtitle}}</div>
  {{/if}}
  <div class="col-xs-12 col-user-profile-icon">
    <div class="login-logo"></div>
    <div class="login-titles">
      <div class="login-main-title {{loginMainTitleClass}}">{{brandTitle}}</div>
      <div class="login-main-subtitle">{{brandSubtitle}}</div>
    </div>
  </div>
</div>
