{{#if (eq selectedElement.elementType ElementType.Section)}}
  {{atm-workflow/chart-dashboard-editor/sections-editor/section-details-editor
    section=selectedElement
    editorContext=editorContext
  }}
{{else if (eq selectedElement.elementType ElementType.Chart)}}
  {{atm-workflow/chart-dashboard-editor/sections-editor/chart-details-editor
    chart=selectedElement
    editorContext=editorContext
  }}
{{else}}
  <p class="no-selection-info">{{tt this "selectElementForMore"}}</p>
{{/if}}
{{#if hasValidationErrors}}
  <div class="global-validation-error">
    {{warning-icon}}
    {{tt this "globalValidationError"}}
  </div>
{{/if}}
