<div class="canvas-area">

</div>
{{#if chart.title}}
  <div class="title-area">
    <span class="title-content">{{chart.title}}</span>
    {{#if chart.titleTip}}
      <span class="space"></span>
      {{one-label-tip class="title-tip" title=chart.titleTip}}
    {{/if}}
  </div>
{{/if}}

{{atm-workflow/charts-dashboard-editor/sections-editor/floating-toolbar
  model=chart
  actionsFactory=actionsFactory
}}

{{#if (and draggedChart (not isMeDragged))}}
  {{one-draggable-object-target
    class="before-drag-target"
    action=(action "acceptDraggedElement" "before")
  }}

  {{one-draggable-object-target
    class="after-drag-target"
    action=(action "acceptDraggedElement" "after")
  }}
{{/if}}
