{{#if isAcceptingInsideDrag}}
  {{one-draggable-object-target
    class="inside-drag-target"
    action=(action "acceptDraggedElement" "inside")
  }}
{{/if}}

{{#if (or section.title section.titleTip isChartNavigationShared)}}
  <div class="section-header">
    {{#if section.title}}
      {{#truncated-string tagName="h3" class="section-title"}}
        {{section.title}}
      {{/truncated-string}}
    {{/if}}
    {{#if section.titleTip}}
      {{#one-label-tip class="section-title-tip" tooltipClass="tooltip-lg"}}
        {{section.titleTip}}
      {{/one-label-tip}}
    {{/if}}
    {{#if isChartNavigationShared}}
      {{one-time-series-chart/toolbar
        class="section-charts-shared-navigation"
        models=(array)
      }}
    {{/if}}
  </div>
{{/if}}

{{#if section.description}}
  <p class="section-description">{{section.description}}</p>
{{/if}}

{{#if section.charts.length}}
  <div class="section-charts">
    {{#each section.charts as |chart|}}
      {{atm-workflow/charts-dashboard-editor/sections-editor/chart
        chart=chart
        editorContext=editorContext
      }}
    {{/each}}
  </div>
{{/if}}

{{#if (not editorContext.isReadOnly)}}
  <div
    class="large-trigger add-chart clickable"
    onclick={{action "addChart"}}
  >
    <span class="content">
      {{one-icon icon="plus"}}
      {{tt this "addChart"}}
    </span>
  </div>
{{/if}}

{{#if section.sections.length}}
  <div class="section-subsections">
    {{#each section.sections as |subsection|}}
      {{atm-workflow/charts-dashboard-editor/sections-editor/section
        section=subsection
        editorContext=editorContext
      }}
    {{/each}}
  </div>
{{/if}}

{{#if (not editorContext.isReadOnly)}}
  <div
    class="large-trigger add-subsection clickable"
    onclick={{action "addSubsection"}}
  >
    <span class="content">
      {{one-icon icon="plus"}}
      {{tt this "addSubsection"}}
    </span>
  </div>
{{/if}}

{{#if (not section.isRoot)}}
  {{atm-workflow/charts-dashboard-editor/sections-editor/floating-toolbar
    model=section
    editorContext=editorContext
  }}
{{/if}}

{{#if isAcceptingEdgeDrag}}
  {{one-draggable-object-target
    class="before-drag-target"
    action=(action "acceptDraggedElement" "before")
  }}

  {{one-draggable-object-target
    class="after-drag-target"
    action=(action "acceptDraggedElement" "after")
  }}
{{/if}}
