{{#if (eq selectedElement.elementType ElementType.Section)}}
  {{atm-workflow/charts-dashboard-editor/sections-editor/section-details-editor
    section=selectedElement
    actionsFactory=actionsFactory
  }}
{{else if (eq selectedElement.elementType ElementType.Chart)}}
  {{atm-workflow/charts-dashboard-editor/sections-editor/chart-details-editor
    chart=selectedElement
    actionsFactory=actionsFactory
  }}
{{/if}}
{{#if hasValidationErrors}}
  <div class="global-validation-error">
    {{warning-icon}}
    {{tt this "globalValidationError"}}
  </div>
{{/if}}
