{{#one-button
  class="open-chart-dashboard"
  size="sm"
  disabled=(not isEffectivelyEnabled)
  disableWhenPending=false
  showSpinnerWhenPending=false
  onClick=(action "showEditor")
}}
  {{one-icon icon="overview"}}
  <span class="text">{{buttonLabel}}</span>
{{/one-button}}

<span class="content-labels">
  {{#each contentLabels as |contentLabel|}}
    <span class="label label-{{contentLabel.class}}">
      {{contentLabel.text}}
    </span>
  {{/each}}
</span>

{{yield}}
