{{#promise-proxy-container proxy=stateProxy sizeClass="sm"}}
  <div class="canvas-area">
    {{#if hasDataToShow}}
      {{one-echart
        option=echartState
        registerApi=(action "registerApi")
      }}
    {{else}}
      <div class="no-data-message">
        <div class="no-data-img"></div>
        {{tt this "noDataToShow"}}
      </div>
    {{/if}}
  </div>
  {{#if title}}
    <div class="title-area">
      {{#truncated-string tagName="span" class="title-content"}}
        {{title}}
      {{/truncated-string}}
      {{#if titleTip}}
        <span class="space"></span>
        {{one-label-tip class="title-tip" title=titleTip}}
      {{/if}}
    </div>
  {{/if}}
{{/promise-proxy-container}}
