{{#one-dropdown
  triggerClass="small time-resolutions-trigger"
  dropdownClass="small time-resolutions-dropdown"
  options=timeResolutionOptions
  onchange=(action "changeTimeResolution")
  selected=(find-by "value" selectedTimeResolution timeResolutionOptions)
  searchEnabled=false
  as |option|
}}
  {{option.label}}
{{/one-dropdown}}
<div class="btn-group navigation-buttons">
  {{#bs-button
    class="show-older-btn"
    size="sm"
    disabled=isShowOlderDisabled
    onClick=(action "showOlder")
  }}
    {{one-icon icon="arrow-left"}}
  {{/bs-button}}
  {{#bs-button
    class="show-newer-btn"
    size="sm"
    disabled=isShowNewerAndNewestDisabled
    onClick=(action "showNewer")
  }}
    {{one-icon icon="arrow-right"}}
  {{/bs-button}}
  {{#bs-button
    class="show-newest-btn"
    size="sm"
    disabled=isShowNewerAndNewestDisabled
    onClick=(action "showNewest")
  }}
    {{one-icon icon="arrow-right"}}
    {{one-icon icon="arrow-right"}}
  {{/bs-button}}
</div>
