{{#if canUnpackFromArray}}
  {{#one-icon
    click=(action "unpackFromArray")
    icon="flatten"
    class=(concat-classes "unpack-from-array custom-icon-btn" (if (not isEnabled) "disabled"))
  }}
    {{#if isEnabled}}
      {{one-tooltip title=(tt this "actions.unpackFromArray")}}
    {{/if}}
  {{/one-icon}}
{{/if}}
{{#if canPackIntoArray}}
  {{#one-icon
    click=(action "packIntoArray")
    icon="array"
    class=(concat-classes "pack-into-array custom-icon-btn" (if (not isEnabled) "disabled"))
  }}
    {{#if isEnabled}}
      {{one-tooltip title=(tt this "actions.packIntoArray")}}
    {{/if}}
  {{/one-icon}}
{{/if}}
{{remove-icon
  class="remove-trigger"
  isDisabled=(not isEnabled)
  tooltipText=(tt this "actions.remove")
  onClick=(action (if shouldWarnOnRemove "toggleRemoveWarn" "remove"))
}}
{{#render-later triggerRender=isRemoveWarnOpened}}
  {{#one-webui-popover
    triggerSelector=(local-selector elementId ".remove-trigger")
    open=isRemoveWarnOpened
  }}
    {{#click-outside
      onClickOutside=(action "toggleRemoveWarn" false)
      exceptSelector=(local-selector elementId ".remove-trigger")
    }}
      <p>{{tt this "removeWarn.content"}}</p>
      <div class="text-right">
        {{#one-button
          type="default"
          size="sm"
          onClick=(action "toggleRemoveWarn" false)
        }}
          {{tt this "removeWarn.no"}}
        {{/one-button}}
        &nbsp;
        {{#one-button
          type="danger"
          size="sm"
          onClick=(action "remove")
        }}
          {{tt this "removeWarn.yes"}}
        {{/one-button}}
      </div>
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}
{{yield}}
