<div class="data-type-header">
  <span class="data-type-name">{{dataTypeTranslation}}</span>
  {{atm-workflow/data-spec-editor/data-type-toolbar
    editorElement=editorElement
    onElementChange=onElementChange
  }}
</div>
{{#if formRootGroup}}
  <a class="azure clickable form-summary-toggle" {{action "toggleFormVisibility"}}>
    {{one-icon class="form-summary-icon" icon="settings"}}
    <span class="form-summary">{{formSummary}}</span>
  </a>
  {{#if isFormVisible}}
    <hr />
    {{form-component/field-renderer field=formRootGroup}}
  {{/if}}
{{/if}}
{{yield}}
