{{#each actionsArray as |act|}}
  <li>
    {{#if act.separator}}
      <a class="separator"></a>
    {{else}}
      <a class="clickable {{act.class}}" onClick={{action "triggerAction" act.action}}>
        {{#if act.icon}}
          {{one-icon icon=act.icon}}
        {{/if}}
        <span class="one-label">{{act.title}}</span>
      </a>
    {{/if}}
  </li>
{{/each}}
