{{#each actionsArray key=actionKey as |act|}}
  <li class={{concat-classes
    (if act.separator "separator")
    (if act.disabled "disabled")
    (if (eq nestedActionsOpened act) "expanded")
    }}
  >
    {{#if act.separator}}
      <a>
        <span class="one-label">{{act.title}}</span>
      </a>
    {{else}}
      <a class={{concat-classes
          "clickable"
          (or act.class act.className)
          (concat elementId "-" (or act.class act.className))
        }}
        onClick={{if act.nestedActions
          (action "toggleNestedActions" act (not-eq nestedActionsOpened act))
          (action "triggerAction" act)
        }}
      >
        {{#if act.icon}}
          {{one-icon icon=act.icon}}
        {{/if}}
        <span class="one-label">{{act.title}}</span>
      </a>
      {{#if act.nestedActions}}
        {{#if nestedActionsInPopover}}
          {{#one-webui-popover
            class=(concat act.class "-nested-actions")
            padding=false
            popoverStyle="with-nested-dropdown"
            triggerSelector=(concat "." elementId "-" act.class)
            open=(eq nestedActionsOpened act)
            onToggle=(action "toggleNestedActions" act)
            multi=true
            placement="context-menu"}}
            {{#click-outside
              onClickOutside=(action "toggleNestedActions" act false)
              exceptSelector=(concat "." elementId "-" act.class)
            }}
              {{actions-popover-content
                actionsArray=act.nestedActions
                actionClicked=actionClicked
              }}
            {{/click-outside}}
          {{/one-webui-popover}}
        {{else}}
          {{actions-popover-content
            actionsArray=act.nestedActions
            actionClicked=actionClicked
            class=(concat-classes
              "nested-actions collapse-animation"
              (if withoutNestedActionsTransition "without-transition")
              (if (eq nestedActionsOpened act) "collapse-small" "collapse-hidden")
            )}}
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if act.tip}}
      {{one-tooltip title=act.tip placement="right"}}
    {{/if}}
  </li>
{{/each}}
{{#if noRealActions}}
  <li class="disabled">
    <div class="dropdown-menu-item no-actions-info">
      {{tt this "noActions"}}
    </div>
  </li>
{{/if}}
