{{#one-modal
  class=(concat-classes "alert-global" alert.type)
  open=open
  shouldCloseOnTransition=false
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{one-icon icon=icon class="header-icon"}}
      <span class="one-label">
        {{#if options.header}}
          {{options.header}}
        {{else if header}}
          {{header}}
        {{else}}
          {{tt this "error"}}
        {{/if}}
      </span>
    </h1>
  {{/modal.header}}
  {{#modal.body}}
    {{#if options.componentName}}
      {{component options.componentName options=options}}
    {{else}}
      {{text}}
      {{#if detailsText}}
        {{#if (not alwaysShowDetails)}}
          <a class="toggle-details-link clickable {{expandDetailsLinkClass}}" {{action "toggleDetails"}}>
            {{tt this (if areDetailsExpanded "hideDetails" "showDetails")}}
            {{one-icon class="collapse-arrow" icon=(if areDetailsExpanded "arrow-up" "arrow-down")}}
          </a>
        {{/if}}
        {{#one-collapse
          class="details-collapse"
          collapsed=(if alwaysShowDetails false (not areDetailsExpanded))}}
          {{detailsText}}
        {{/one-collapse}}
      {{/if}}
    {{/if}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button
      onClick=(action modal.close)
      class=closeBtnClass
    }}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/one-modal}}
