<table class="table table-info table-info-large table-info-collapsible">
  <tbody>
    <tr class="item-info-row-api-command-name">
      <td class="property-name with-input-sm">
        {{tt this "operation"}}
      </td>
      <td class="property-value">
        <div class="api-operation-row">
          {{#one-dropdown
            triggerClass="small api-command-type-selector-trigger"
            dropdownClass="small api-command-type-selector-dropdown"
            renderInPlace=false
            options=apiSamples
            selected=effSelectedApiCommand
            searchEnabled=false
            onchange=(action "selectApiCommand")
            as |apiCommand|
          }}
            <span class="api-command-title">
              {{apiCommand.name}}
            </span>
            <span class="api-command-type">
              <span
                class="label label-info api-tag-label {{apiCommand.type}}-api-tag-label"
              >
                {{tt this (concat "apiType." apiCommand.type)}}
              </span>
            </span>
          {{/one-dropdown}}
        </div>
      </td>
    </tr>
    <tr class="item-info-row-type-api-command">
      <td class="property-name with-input-sm">
        {{tt this "type"}}
      </td>
      <td class="property-value description-value">
        <div class="api-type-row">
          <span class="labels-container">
            <span
              class="label label-info api-tag-label {{type}}-api-tag-label"
            >
              {{tt this (concat "apiType." type)}}
            </span>
          </span>
          <div
            class="inline-icon-container api-command-type-info-trigger-container"
            {{action (mut apiCommandTypeInfoOpened) (not apiCommandTypeInfoOpened)}}
          >
            {{one-icon
              id=apiCommandInfoTriggerId
              icon="sign-question-rounded"
              class="api-command-type-info-trigger hint-trigger clickable"
            }}
          </div>
        </div>
        {{#one-webui-popover
          popoverStyle="api-command-type-info over-modals"
          padding=true
          open=apiCommandTypeInfoOpened
          triggerSelector=(concat "#" apiCommandInfoTriggerId)
          as |popover|
        }}
          {{#click-outside
            onClickOutside=(action (mut apiCommandTypeInfoOpened) false)
            exceptSelector=".api-command-type-info-trigger, .webui-popover-api-command-type-info"
          }}
            <p class="api-command-tip-intro">
              {{apiCommandTipIntro}}
            </p>
          {{/click-outside}}
        {{/one-webui-popover}}
      </td>
    </tr>
    <tr class="item-info-row-description">
      <td class="property-name">
        {{tt this "description"}}
      </td>
      <td class="property-value description-value">
        {{description}}
        {{one-doc-see-more
          linkName=(tt this
            (concat "apiCommandTipLinkName." effSelectedApiCommand.type)
          )
          href=(if (eq effSelectedApiCommand.type "xrootd")
            "https://xrootd.slac.stanford.edu/"
            (one-api-doc-url
              product=product
              version="latest"
              anchor=(concat "operation/" effSelectedApiCommand.swaggerOperationId)
            )
          )
        }}
      </td>
    </tr>
    <tr class="item-info-row-api-command">
      <td class="property-name with-input">
        {{tt this "command"}}
      </td>
      <td class="property-value">
        <div class="input-group-clipboard-textarea">
          {{clipboard-line
            value=selectedApiCommandString
            type="textarea"
            size=(if smallContent "sm")
            class="monospace-font compact"
          }}
          {{#if hasOptionalParameters}}
            <div class="optional-parameters-text">
              {{tt this "apiOptionalParameters"}} 
              {{#each optionalParameters as |param|}}
                <strong>{{param}},</strong>
              {{/each}}
              {{tt this "coverIn"}}
              <a 
                href={{one-api-doc-url
                  product=product
                  version="latest"
                  anchor=(concat "operation/" effSelectedApiCommand.swaggerOperationId)
                }}
                target="_blank"
              >{{tt this "documentation"}}</a>.
            </div>
          {{/if}}
        </div>
      </td>
    </tr>
    {{#if (or hasPlaceholders requiresAuthorization)}}
      <tr class="item-info-row-variables">
        <td class="property-name with-input">
          {{tt this "envVariables"}}
          <span class="env-variables-info-icon-container">
            {{one-icon icon="sign-question-rounded" class="env-variables-info-icon"}}
            {{one-tooltip title=(tt this "variablesTooltip")}}
          </span>
        </td>
        <td class="property-value placeholders-value with-input">
          <div class="env-variables-table-container">
            <table class="env-variables-table">
              {{#unless (media "isMobile")}}
                <thead>
                  <tr>
                    <td>{{tt this "variable"}}</td>
                    <td>{{tt this "description"}}</td>
                  </tr>
                </thead>
              {{/unless}}
              <tbody>
                {{#if requiresAuthorization}}
                  <tr>
                    <td class="placeholder-variable">
                      $TOKEN
                    </td>
                    <td class="placeholder-description">
                      {{tt this "authorizationTokenDescription"}} 
                      <a href={{accessTokenUrl}} target="_blank">{{tt this "tokenPage"}}</a>.
                    </td>
                  </tr>
                {{/if}}
                {{#each-in placeholders as |placeholder description|}}
                  <tr>
                    <td class="placeholder-variable">
                      {{placeholder}}
                    </td>
                    <td class="placeholder-description">
                      {{description}}
                    </td>
                  </tr>
                {{/each-in}}
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
