{{#if isCrossOriginIframeRoutingError}}
  <div class="iframed-onedata-error">
    <div class="row absolute-align-middle-center error-row routing-error">
      <div class="routing-error-onedata-logo"></div>
      <div class="routing-error-text">{{tt this "pathNotExists"}}</div>
      <div class="routing-error-text">{{tt this "contactAdmin"}}</div>
      <div class="routing-error-text learn-more-text">
        {{tt this "learnMore"}}
        <a
          href="https://onedata.org"
          target="_blank"
          class="onedata-org-link"
        >onedata.org</a>.
      </div>
    </div>
  </div>
{{else if error.isOnedataCustomError}}
  {{component (concat "errors/" error.type) error=error}}
{{else}}
  <div class="row absolute-align-middle-center error-row">
    {{one-icon tagName="div" icon="sign-warning-rounded" class="application-error-icon"}}
    <div class="application-error-message">
      {{message}}
    </div>
    {{#if error}}
      <div class="error-details active">
        {{#if reasonDetails.message}}
          <p>{{reasonDetails.message}}</p>
        {{/if}}
        {{#if (and reasonDetails.message reasonDetails.errorJsonString)}}
          <br>
        {{/if}}
        {{#if reasonDetails.errorJsonString}}
          <div class="error-json">{{reasonDetails.errorJsonString}}</div>
        {{/if}}
      </div>
    {{else}}
      <div class="application-error-show-more">
        {{t "components.applicationError.noDetails"}}
      </div>
    {{/if}}
  </div>
{{/if}}
