<div class="row absolute-align-middle-center">
  {{one-icon tagName="div" icon="sign-warning" class="application-error-icon"}}
  <div class="application-error-message">
    {{message}}
  </div>
  {{#if _reasonDetails}}
    <div class="application-error-show-more">
      <a role="button" tabindex="0" class="show-error-details" {{action "toggleShowDetails"}}>
        {{t (concat "components.applicationError." (if showDetails "hideDetails" "showDetails"))}}
      </a>
    </div>
    <div class="error-details sm-row {{if showDetails "active"}}">
      {{_reasonDetails}}
    </div>
  {{else}}
    <div class="application-error-show-more">
      {{t "components.applicationError.noDetails"}}
    </div>
  {{/if}}
</div>
