<div class="row text-center">
  <div class="col-xs-12">
    {{#bs-form class="form-horizontal"
      onSubmit=(action "submitLogin" username password)
      formLayout="horizontal"
      as |form|
    }}
      {{#unless passphraseMode}}
        {{#form.group class=(if areCredentialsInvalid "has-error")}}
          <div class="input-group with-icon-addon">
            <div class="input-group-addon">
              {{one-icon icon="user"}}
            </div>
            <input
              class="form-control login-username"
              value={{username}}
              oninput={{action (mut username) value="target.value"}}
              placeholder={{tt this "username"}}
              disabled={{isDisabled}}
            >
          </div>
        {{/form.group}}
      {{/unless}}
      {{#form.group class=(if areCredentialsInvalid "has-error")}}
        <div class="input-group with-icon-addon">
          <div class="input-group-addon">
            {{one-icon icon="lock"}}
          </div>
          <input
            type="password"
            class="form-control login-lock"
            value={{password}}
            oninput={{action (mut password) value="target.value"}}
            placeholder={{tt this (if passphraseMode "passphrase" "password")}}
            disabled={{isDisabled}}
          >
        </div>
      {{/form.group}}
      <div class="login-error-message{{if areCredentialsInvalid " active" ""}}">
        {{tt this (concat "invalidCredentials" (if passphraseMode "OnlyPassphrase" ""))}}
      </div>
      <div class="row text-center">
        {{#if backButtonAction}}
          <button type="button" class="btn btn-warning back-button" {{action "backAction"}}>
            {{one-icon icon="arrow-right"}}
            {{tt this "back"}}
          </button>
        {{/if}}
        {{#one-spin-button class="btn btn-primary"
          buttonStyle="expand-left"
          action=(action "submitLogin" username password)
          disabled=submitIsDisabled
        }}
          {{tt this "signIn"}}
        {{/one-spin-button}}
      </div>
    {{/bs-form}}    
  </div>
</div>
