<div class="brand-info-container">
  {{#if guiIcon}}
    <img class="brand-icon" src={{root-url guiIcon}} title={{guiType}} alt={{guiType}}>
  {{/if}}
  {{#if guiName}}
    {{#truncated-string class="brand-text brand-name"}}
      {{guiName}}
    {{/truncated-string}}
  {{/if}}
  {{#truncated-string class="brand-text brand-type-version"}}
    <span class="brand-type">{{guiType}}</span>
    <span class="brand-version">{{guiVersion}}</span>
    {{#if showLogout}}
      <div class="brand-logout clickable" {{action "logout"}}>
        {{one-icon class="brand-logout-icon" icon="logout"}}
        <span class="brand-logout-text">{{tt this "logout"}}</span>
      </div>
    {{/if}}
  {{/truncated-string}}
</div>
