{{#one-modal
  class="cease-oneprovider-support-modal"
  open=opened
  onHidden=close
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{one-icon icon="sign-warning-rounded"}}
      <span class="one-label">{{tt this "headerText"}}</span>
    </h1>
  {{/modal.header}}
  {{#modal.body}}
    <p>{{tt this "mainDescription"}}</p>
    <ul class="info info-condensed info-gray">
      <li>
        {{tt this "firstWayDescription"}}<a
          class="clickable"
          href={{removeSpaceUrl}}
          {{action (or removeSpaceClick no-action)}}
        >{{tt this "firstWayLink"}}</a>
      </li>
      <li>{{tt this "secondWayDescription"}}</li>
    </ul>
    <p>{{tt this "planDescription"}}</p>
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button onClick=close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/one-modal}}
