{{#proceed-process-modal
  modalIcon="sign-warning-rounded"
  modalClass="cease-oneprovider-support-modal"
  headerText=(tt this "headerText")
  proceedButtonText=(tt this "proceedBtn")
  proceedDisabled=(not confirmChecked)
  opened=opened
  onHidden=(action "onHidden")
  close=(action "close")
  proceed=(action "proceed")
}}
  <p>
    {{tt this "bodyQuestion"
      spaceName=space.name
      providerName=provider.name
    }}
  </p>
  <p>{{tt this "bodyInfo"}}</p>
  <p>{{tt this "bodySureQuestion"}}</p>
  <div class="row content-row no-border row-understand-notice">
    {{one-checkbox 
      class="danger one-checkbox-danger one-checkbox-understand"
      checked=confirmChecked
      update=(action (mut confirmChecked))
    }}
    <div class="text-understand" {{action (mut confirmChecked) (not confirmChecked)}}>
      {{tt this "confirmCheckbox"}}
    </div>
  </div>
{{/proceed-process-modal}}
