<div class="checkbox-list-header clickable" onclick={{action "toggleExpand"}}>
  {{one-checkbox
    checked=summaryCheckboxValue
    threeState=true
    update=(action "changeViaHeader")
    isReadOnly=(not isSummaryCheckboxEnabled)
  }}
  <div class="header-content">
    <label class="inline-label">
      <span class="header-text">{{headerText}}</span>
      <span class="selected-counter">({{or selectedItems.length 0}}/{{or items.length 0}})</span>
    </label>
    
    {{one-icon class="arrow-icon" icon=(if isEffectivelyExpanded "arrow-up" "arrow-down")}}
  </div>
</div>
{{#one-collapse collapsed=(not isEffectivelyExpanded) class="checkbox-list-collapse"}}
  <ul class="checkbox-list-items">
    {{#each items as |item index|}}
      <li class="checkbox-list-item">
        {{one-checkbox
          checked=(contains item selectedItems)
          update=(action "change" item)
          inputId=(concat elementId "-checkbox-" index)}}
        <div class="item-content">
          {{#if hasBlock}}
            {{yield (hash
              model=item
              checkboxId=(concat elementId "-checkbox-" index)
            )}}
          {{else}}
            <label for={{concat elementId "-checkbox-" index}}>{{item.name}}</label>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
{{/one-collapse}}
