{{#if label}}
  <div class="clipboard-line-label">
    <strong>{{label}}</strong>
  </div>
{{/if}}

{{#if (eq type "textarea")}}
  <textarea
    rows="{{textareaRows}}"
    class="clipboard-input form-control {{inputClass}}"
    readonly
  >{{value}}</textarea>
{{else if (eq type "html")}}
  <div class="clipboard-input">
    <div class="form-control form-control-block">
      <div class="html-content-container">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{{value}}}
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <span class="clipboard-container">
    <input
      type="text"
      class="clipboard-input form-control {{inputClass}} {{if size (concat "input-" size)}}"
      value={{value}}
      readonly
    >
    {{#if enableValueTip}}
      {{#render-later triggerRender=showTooltip as |renderLater|}}
        {{one-tooltip
          class="string-path-tooltip"
          title=value
          visible=showTooltip
          triggerEvents=""
          onHidden=renderLater.resetRenderTrigger
        }}
      {{/render-later}}
    {{/if}}
  </span>
{{/if}}
{{#if rawValue}}
  <input class="hidden-clipboard-source" value={{rawValue}} readonly>
{{/if}}
{{#one-copy-button
  class=(concat-classes "clipboard-btn" clipboardBtnClass)
  parentElementId=elementId
  localTarget=(if rawValue ".hidden-clipboard-source" ".clipboard-input")
  notify=(action "notify")
}}
  <div class="copy-btn-background"></div>
  {{one-icon class="copy-btn-icon" icon="browser-copy"}}
  {{one-tooltip title=(or buttonTip (tt this "copyHint"))}}
{{/one-copy-button}}
