<h1>
  <span class="one-label">
    {{tt this "title"}}
  </span>
</h1>
<table class="table table-condensed table-info">
  <tbody>
    <tr class="row-with-text">
      <td class="property-name">{{tt this "name"}}</td>
      <td class="property-value">
        {{one-clipboard-line
          size="sm"
          value=record.name
          type="text"
        }}
      </td>
    </tr>
    <tr class="row-with-text">
      <td class="property-name">{{tt this "type"}}</td>
      <td class="property-value capitalized-text">
        {{clusterType}}
      </td>
    </tr>
    <tr class="row-with-text">
      <td class="property-name">{{tt this "domain"}}</td>
      <td class="property-value">
        {{one-clipboard-line
          size="sm"
          value=record.domain
          type="text"
        }}
      </td>
    </tr>
    <tr class="row-with-text">
      <td class="property-name">{{tt this "id"}}</td>
      <td class="property-value id">
        {{one-clipboard-line
          size="sm"
          value=record.entityId
          type="text"
        }}
      </td>
    </tr>
  </tbody>
</table>
{{#if linkToCluster}}
  <div class="links-container">
    <a href={{linkToCluster}} class="info-link clickable">
      {{tt this "openCluster"}}
      {{one-icon icon="link-external"}}
    </a>
  </div>
{{/if}}