<div class="world-map light">
  <div class="container content-info-content-container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h1>{{header}}</h1>
        {{#if subheader}}
          <h2>{{subheader}}</h2>
        {{/if}}
        {{#if (or text textTemplate)}}
          <p class="lead">
            {{#if textTemplate}}
              {{partial textTemplate}}
            {{else}}
              {{text}}
            {{/if}}
          </p>
        {{/if}}
      </div>
    </div>
    {{#if imagePath}}
      {{one-image 
        imagePath=imagePath 
        imageTextClass=imageTextClass 
        imageText=imageText}}
    {{/if}}
    {{#if hasBlock}}
      <div class="row row-yield">
        {{yield (hash
            buttonAction=(action _buttonAction)
            actionInProgress=_actionInProgress
          )
        }}
      </div>
    {{/if}}
    {{#if _showButton}}
      <div class="row text-center {{unless (or text imagePath hasBlock) "row-button-margin-top"}}">
        <div class="col-xs-12">
          {{#one-spin-button
            class=(concat "btn btn-primary btn-content-info " buttonClass)
            action=(action _buttonAction)
            inFlight=_actionInProgress
            disabled=buttonDisabled
          }}
            {{buttonLabel}}
          {{/one-spin-button}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
