<table class="table table-info table-info-large table-info-collapsible">
  <tbody>
    <tr class="item-info-row-api-command-name">
      <td class="property-name with-input">
        {{tt this "operation"}}
      </td>
      <td class="property-value">
        <div class="api-operation-row">
          {{#one-dropdown
            triggerClass="small api-command-type-selector-trigger"
            dropdownClass="small api-command-type-selector-dropdown"
            renderInPlace=false
            options=availableApiCommands
            selected=effSelectedApiCommand
            searchEnabled=false
            onchange=(action "selectApiCommand")
            as |apiCommand|
          }}
            <span class="api-command-title">
              {{apiCommand.name}}
            </span>
            <span class="api-command-type">
              <span
                class="label label-info api-tag-label {{apiCommand.type}}-api-tag-label"
              >
                {{tt this (concat "apiType." apiCommand.type)}}
              </span>
            </span>
          {{/one-dropdown}}
        </div>
      </td>
    </tr>
    <tr class="item-info-row-type-api-command">
      <td class="property-name with-input-sm">
        {{tt this "type"}}
      </td>
      <td class="property-value description-value">
        <div class="api-type-row">
          <span class="labels-container">
            <span
              class="label label-info api-tag-label {{effSelectedApiCommand.type}}-api-tag-label"
            >
              {{tt this (concat "apiType." effSelectedApiCommand.type)}}
            </span>
          </span>
          <div
            class="inline-icon-container api-command-type-info-trigger-container"
            {{action (mut apiCommandTypeInfoOpened) (not apiCommandTypeInfoOpened)}}
          >
            {{one-icon
              id=apiCommandInfoTriggerId
              icon="browser-info"
              class="api-command-type-info-trigger hint-trigger"
            }}
          </div>
        </div>
        {{#one-webui-popover
          popoverStyle="api-command-type-info over-modals"
          padding=true
          open=apiCommandTypeInfoOpened
          triggerSelector=(concat "#" apiCommandInfoTriggerId)
          as |popover|
        }}
          {{#click-outside
            action=(action (mut apiCommandTypeInfoOpened) false)
            except-selector=".api-command-type-info-trigger, .webui-popover-api-command-type-info"
          }}
            <p class="api-command-tip-intro">
              {{tt this
                (concat "apiCommandTipIntro." effSelectedApiCommand.type)
              }}
            </p>
          {{/click-outside}}
        {{/one-webui-popover}}
      </td>
    </tr>
    <tr class="item-info-row-description">
      <td class="property-name">
        {{tt this "description"}}
      </td>
      <td class="property-value description-value">
        {{description}}
        {{one-doc-see-more
          linkName=(tt this
            (concat "apiCommandTipLinkName." effSelectedApiCommand.type)
          )
          href=(if (eq effSelectedApiCommand.type "xrootd")
            "https://xrootd.slac.stanford.edu/"
            (one-api-doc-url
              product="onezone"
              version="latest"
              anchor=(concat "operation/" effSelectedApiCommand.swaggerOperationId)
            )
          )
        }}
      </td>
    </tr>
    <tr class="item-info-row-api-command">
      <td class="property-name with-input">
        {{tt this "command"}}
      </td>
      <td class="property-value">
        <div class="input-group-clipboard-textarea">
          {{clipboard-line
            value=selectedApiCommandString
            type="textarea"
            size=(if smallContent "sm")
            class="monospace-font compact"
          }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
