{{!-- FIXME: this should not be common file - instead create specific --}}

<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">{{tt this "accountManagement"}}</span>
  </h1>
</div>
<div class="content-row">
  <h1>{{tt this "login"}}</h1>
  <div class="indented-row" style="margin-left: 40px; padding-top: 12px; padding-bottom: 12px;">
    {{user.name}}
  </div>
</div>
<div class="content-row">
  {{!-- FIXME: bad design? --}}
  <h1>{{tt this "changePassword"}}</h1>
  {{!-- <div class="indented-row">
    {{user-credentials-form
      username=user.name
      changingPassword=_changingPassword
      submit=(action "submitChangePassword")
      class=_changePasswordButtonClass
    }}
  </div> --}}
</div>
<div class="content-row">
  <h1>{{tt this "linkedAccounts"}}</h1>
  <ul class="indented-row linked-accounts-list">
    {{!-- FIXME: _loadingLinkedAccount or proxy that loads? --}}
    {{#promise-proxy-container
      proxy=onezoneAccountProxy
    }}
      {{#if onezoneAccount}}
      {{!-- FIXME: style colors --}}
        {{social-box
          authId="onezone"
          iconPath="assets/images/auth-providers/onezone.svg"
          iconBackgroundColor="#EC4145"
          class="social-box-zone-account"
        }}
        <li class="linked-account full-social-icon content-row onezone-account">
          <div class="account-description">
            {{#truncated-string class="account-type"}}
              {{onezoneAccount.zoneName}} ({{onezoneAccount.hostname}})
            {{/truncated-string}}
            {{#truncated-string class="account-email"}}
              {{onezoneAccount.username}} ({{onezoneAccount.alias}})
            {{/truncated-string}}
          </div>
        </li>
      {{else}}
        <li class="linked-account full-social-icon content-row add-account">
          {{#social-box
            authId="add"
            socialIconStyle=""
            aStyle=""
            class="social-box-linked-account"
            click=(action "linkOnezoneAccount")
          }}
            <span class="plus-icon">+</span>
          {{/social-box}}
          <div class="account-description">
            <div class="show-dropdown-description animated fast">
              {{tt this "linkOnezoneAccount"}}
            </div>
          </div>
        </li>
      {{/if}}
    {{/promise-proxy-container}}
  </ul>
</div>
