{{!-- FIXME: this should not be common file - instead create specific --}}

<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">{{tt this "accountManagement"}}</span>
  </h1>
</div>
<div class="content-row">
  {{!-- FIXME: implement mobile style --}}
  <h1>{{tt this "credentials"}}</h1>
  <div class="indented-row credentials-row credentials-row-login">
    <div class="row-label">
      {{tt this "login"}}
    </div>
    <div class="row-value">
      {{user.name}}
    </div>
  </div>
  <div class="indented-row credentials-row credentials-row-password">
    <div class="row-label">
      {{tt this "password"}}
    </div>
    <div class="row-value">
      <input type="text" class="form-control" disabled=true value={{fake-password}}>
    </div>
  </div>
  <div class="indented-row credentials-row credentials-row-password">
    <div class="row-value">
      {{#bs-button
        type="default"
        class="btn-sm"
      }}
        {{tt this "changePassword"}}
      {{/bs-button}}
      {{!-- FIXME: implement changing password --}}
    </div>
  </div>
</div>
{{!-- <div class="content-row">
  <div class="indented-row">
    {{user-credentials-form
      username=user.name
      changingPassword=_changingPassword
      submit=(action "submitChangePassword")
      class=_changePasswordButtonClass
    }}
  </div>
</div> --}}

{{#if canBeLinked}}
  <div class="content-row">
    <h1>{{tt this "linkedAccounts"}}</h1>
    <ul class="indented-row linked-accounts-list">
      {{!-- FIXME: _loadingLinkedAccount or proxy that loads? --}}
      {{#promise-proxy-container
        proxy=onezoneAccountProxy
      }}
        {{!-- FIXME: style colors --}}
        {{social-box
          authId="onezone"
          iconPath="assets/images/auth-providers/onezone.svg"
          iconBackgroundColor="#EC4145"
          class="social-box-zone-account"
        }}
        <li class="linked-account full-social-icon content-row onezone-account">
          <div class="account-description">
            {{#truncated-string class="account-type"}}
              {{onezoneAccount.zoneName}} ({{onezoneAccount.hostname}})
            {{/truncated-string}}
            {{#truncated-string class="account-email"}}
              {{onezoneAccount.username}} ({{onezoneAccount.alias}})
            {{/truncated-string}}
          </div>
        </li>
      {{/promise-proxy-container}}
    </ul>
  </div>
{{/if}}
