<h1>
  <span class="one-label">
    {{tt this "title"}}
  </span>
</h1>
{{#if errorReason}}
  {{resource-load-error reason=errorReason}}
{{else}}
  <table class="table table-condensed table-info">
    <tbody>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "name"}}</td>
        <td class="property-value">{{or record.name "—"}}</td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "id"}}</td>
        <td class="property-value">
          {{one-clipboard-line
            size="sm"
            value=record.entityId
            type="text"
          }}
        </td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "type"}}</td>
        <td class="property-value">
          {{record-icon record=record useSubtypeIcon=true}}
          <span class="type-name">{{or record.type "—"}}</span>
        </td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "userMembers"}}</td>
        <td class="property-value">
          {{#promise-proxy-container
            proxy=userMembersLoadingProxy
            sizeClass="xs"
            centered=false
          }}
            {{#if (eq record.effUserList.content null)}}
              —
            {{else}}
              <span class="effective-members-number">
                {{record.effUserList.length}}
              </span>
              <span class="direct-members-number">
                ({{tt this "ofWhichDirect" directCount=record.userList.length}})
              </span>
            {{/if}}
          {{/promise-proxy-container}}
        </td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "groupMembers"}}</td>
        <td class="property-value">
          {{#promise-proxy-container
            proxy=groupMembersLoadingProxy
            sizeClass="xs"
            centered=false
          }}
            {{#if (eq record.effGroupList.content null)}}
              —
            {{else}}
              <span class="effective-members-number">
                {{record.effGroupList.content.length}}
              </span>
              <span class="direct-members-number">
                ({{tt this "ofWhichDirect" directCount=record.groupList.content.length}})
              </span>
            {{/if}}
          {{/promise-proxy-container}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="links-container">
    <a
      href={{linkToGroup}}
      class="info-link clickable"
    >
      <span>{{tt this "openGroup"}}</span>
      {{one-icon icon="link-external"}}
    </a>
  </div>
{{/if}}
