{{#if (and (not alwaysRender) isLoaded)}}
  {{yield}}
{{else}}
  {{#if alwaysRender}}
    {{yield}}
  {{/if}}
  {{#if isLoading}}
    {{spin-spinner-block sizeClass=sizeClass class=(concat-classes _spinnerBlockClass spinnerBlockClass)}}
  {{else if isError}}
    {{#if inlineError}}
      <span class="loading-container-inline-error">{{or customErrorMessage errorReason}}</span>
    {{else if (and errorReason.isOnedataCustomError errorReason.type)}}
      {{component (concat "errors/" errorReason.type)}}
    {{else}}
      {{resource-load-error message=customErrorMessage reason=errorReason}}
    {{/if}}
  {{/if}}
{{/if}}
