<div class="container">
  {{login-box/header model=headerModel}}
  {{#if showAuthenticationError}}
    <h1>
      {{one-icon icon="sign-warning-rounded" class="login-warning-icon"}}
      {{t "mixins.authenticationErrorMessage.title"}}
    </h1>
    <div class="container-fluid authentication-error-message">
      <div class="row login-forms-row">
        <div class="authentication-error-message-text">
          {{authenticationErrorText}} {{if showErrorContactInfo (t "mixins.authenticationErrorMessage.contactInfo")}}
        </div>
        {{#if showErrorContactInfo}}
          {{one-clipboard-line
            value=authenticationErrorState
            class="authentication-error-state-input-copy light"
            btnType="primary"
          }}
        {{/if}}
        <div class="col-xs-12 text-center authentication-error-message-buttons">
          <button type="button" class="btn btn-default back-button" {{action "backFromError"}}>
            {{one-icon icon="arrow-right"}}
            {{t "mixins.authenticationErrorMessage.backToLogin"}}
          </button>
        </div>
      </div>
    </div>
  {{else if isLoading}}
    {{spin-spinner-block
      sizeClass="lg"
      class="absolute-middle-centered"
    }}
  {{else}}
    <div class="row row-login-header text-center">
      <div class="col-xs-12">
        <h4>{{t "components.loginBox.login"}}</h4>
        <div class="login-box-error-message {{if sessionHasExpired "active" ""}}">
          {{t "components.loginBox.sessionExpired"}}
        </div>
      </div>
    </div>
    {{!-- TODO remove .additional-bottom-margin after icons resize --}}
    <div class="row additional-bottom-margin">
      <div class="col-xs-10 col-centered">
        {{login-box/login-form-container
          authenticationSuccess=(action "authenticationSuccess")
          authenticationFailure=(action "authenticationFailure")
          authenticationStarted=(action "authenticationStarted")
        }}
      </div>
    </div>
  {{/if}}
</div>
