<div class="onedata-logo-container">
  <div class="onedata-logo"></div>
</div>  
<div class="login-box-container">
  {{yield}}
</div>
<div class="login-service-version">
  <span class="login-service-version-string">
    <span>{{tt this "version"}}</span>
    <span class="version">{{softwareVersionDetails.serviceVersion}}</span>
  </span>
  <span class="login-service-version-hint">
    <div class="inline-icon-container">
      {{#one-icon icon="sign-info-rounded" class="login-service-version-more-icon"}}
        {{#one-tooltip}}
          <strong>{{tt this "versionBuild"}}:</strong>
          <span class="version-build">{{softwareVersionDetails.serviceBuildVersion}}</span>
        {{/one-tooltip}}
      {{/one-icon}}
    </div>
  </span>
</div>
