{{#if (eq internalMode "visual")}}
  {{wysiwyg-editor
    class="markdown-wysiwyg"
    mode="edit"
    content=htmlContent
    contentType="wysiwyg"
    onChange=(action (mut htmlContent))
  }}
{{else}}
  <div class="markdown-bar">
    <div class="markdown-bar-placeholder">
      Markdown editor
    </div>
  </div>
  <textarea
    value={{mdContent}}
    oninput={{action (mut mdContent) value="target.value"}}
    class="no-resize code-textarea textarea-source-editor"
  ></textarea>
{{/if}}
<div class="markdown-editor-toolbar btn-toolbar">
  {{#bs-button
    class="btn-sm btn-switch-editor-mode"
    type="default"
    onClick=(action "toggleEditorMode")
  }}
    {{one-icon icon=modeSwitchIcon}}
    <span class="text">{{modeSwitchText}}</span>
  {{/bs-button}}
  {{#bs-button
    class="btn-sm"
    type="warning"
    disabled=(not isContentChanged)
    onClick=(action "discard")
  }}
    {{tt this "discard"}}
  {{/bs-button}}
  {{#one-spin-button
    class="btn btn-sm btn-primary"
    disabled=isContentChanged
    action=(action "save")
  }}
    {{tt this "save"}}
  {{/one-spin-button}}
</div>