<div class="share-edit-bar">
  <div class="share-edit-bar-placeholder hidden-xs">
    <div class="inline-icon-container">
      {{one-icon icon=modeCurrentIcon}}
    </div>
    <span class="text">{{modeCurrentText}}</span>
  </div>
</div>
{{#if (eq mode "visual")}}
  {{markdown-to-html
    class="markdown-view markdown-preview"
    markdown=mdContent
    tables=true
    strikethrough=true
    literalMidWordUnderscores=true
    simplifiedAutoLink=true
    openLinksInNewWindow=true
  }}
{{else}}
  <textarea
    value={{mdContent}}
    oninput={{action "mdContentChanged" value="target.value"}}
    placeholder={{placeholder}}
    class="no-resize code-textarea textarea-source-editor"
  ></textarea>
{{/if}}
<div class="share-edit-actions-toolbar btn-toolbar">
  {{#bs-button
    class="btn-sm btn-switch-editor-mode"
    type="default"
    disabled=isToggleEditorDisabled
    onClick=(action "toggleEditorMode")
  }}
    {{one-icon icon=modeSwitchIcon}}
    <span class="text">{{modeSwitchText}}</span>
  {{/bs-button}}
  {{#bs-button
    class="btn-sm"
    type="warning"
    disabled=(not isContentChanged)
    onClick=(action "discard")
  }}
    {{tt this "discard"}}
  {{/bs-button}}
  {{#one-spin-button
    class="btn btn-sm btn-primary"
    disabled=(not isContentChanged)
    action=(action "save")
  }}
    {{tt this "save"}}
  {{/one-spin-button}}
</div>