{{#if showMinimized}}
  <div class="collapsible-toolbar-toggle{{unless isInternallyMinimized " hidden"}} {{toggleBtnClass}}"
    onClick={{disable-bubbling (action "toggleDropdown")}}>
    <div class="icon-dot"></div>
    <div class="icon-dot"></div>
    <div class="icon-dot"></div>
  </div>
  {{#one-webui-popover
    class=(concat "one-collapsible-toolbar-popover popover-" elementId)
    placement=dropdownPlacement
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=(concat "#" (concat elementId " .collapsible-toolbar-toggle"))
    open=dropdownOpened
    as |popover|
  }}
    <ul class="dropdown-menu actions-popover-content">
      {{yield (hash 
        item=(component 'one-collapsible-toolbar-item' 
          tagName="li"
          isMinimized=true
          closeDropdown=(action "closeDropdown")
        )
      )}}
    </ul>
  {{/one-webui-popover}}
{{/if}}

<span class="collapsible-toolbar-buttons {{if isInternallyMinimized "hidden"}}">
  {{yield (hash 
    item=(component 'one-collapsible-toolbar-item' isMinimized=false
    ))}}
</span>
