{{#unless isTabBarRendered}}
  <div class="tab-bar-ul-container-space"></div>
{{else}}
  {{#one-tab-bar/tab-bar-ul-container
    hasOverflowChanged=(action (mut tabsOverflow))
    as |ulContainer|
  }}
    {{#one-tab-bar/tab-bar-ul
      style=ulContainer.tabBarUlStyle
      as |tabBar|
    }}
      {{#each sortedItems as |item|}}
        {{component effTabBarLiComponentName
          isActive=(eq selectedItem.id item.id)
          tabClicked=(action "selectItem" "tabClick" item)
          item=item
          class=(concat item.elementClass " item-" item.id " " (if tabsOverflow "apply-truncate"))
        }}
      {{/each}}
    {{/one-tab-bar/tab-bar-ul}}
  {{/one-tab-bar/tab-bar-ul-container}}
{{/unless}}
{{#if isDropdownRendered}}
  <div class="tab-bar-selector">
    <PowerSelect
      @triggerClass="small"
      @dropdownClass="small"
      @disabled={{disabled}}
      @options={{sortedItems}}
      @selected={{selectedItem}}
      @onChange={{action "selectItem" "selector"}}
      @searchField="name"
      @searchEnabled={{true}}
      @renderInPlace={{true}}
      as |item|
    >
      {{#truncated-string class=(concat "oneprovider-select-item truncate " item.elementClass)}}
        <div class="inline-icon-container">
          {{one-icon icon=item.icon}}
        </div>
        <span class="oneprovider-name">{{item.name}}</span>
      {{/truncated-string}}
    </PowerSelect>
  </div>
{{/if}}
{{yield}}
