<div class="row">
  <label class={{concat "control-label " layoutConfig.formLabelColumns}}>
    {{field.label}}:
    {{#if field.tip}}
      {{one-label-tip title=field.tip class="form-field-right-addon"}}
    {{/if}}
  </label>
  <span class={{concat-classes
    "form-control-static one-form-field-static"
    (if field.copyable "form-control-static-clipboard-line")
    (concat "field-" (dot-to-dash field.name))
    layoutConfig.formInputColumns
  }}>
    {{#if (eq (data-type value) "boolean")}}
      {{one-way-toggle
        checked=value
        isReadOnly=true
      }}
    {{else}}
      {{#if fakePassword}}
        {{fake-password}}
      {{else if field.copyable}}
        {{one-clipboard-line
          value=(one-form-field-formatter value field.format)
          size="sm"
        }}
      {{else}}
        {{one-form-field-formatter value field.format}}
        {{#if field.rightText}}<span class="field-suffix">{{field.rightText}}</span>{{/if}}
      {{/if}}
    {{/if}}
  </span>
</div>
