{{#if (eq _renderMode "popover")}}
  <div>
    {{#one-webui-popover
      class=_popoverClass
      placement=popoverPlacement
      padding=popoverPadding
      popoverStyle=popoverStyle
      triggerSelector=_activeTriggerConfiguration.selector
      open=_contentVisible
      animation=null
      windowEvent=popoverWindowEvent
    }}
      {{yield (hash
        modal=(hash
          header=(component "test-component")
          body=(component "test-component")
          footer=(component "test-component")
        )
        close=(action "close")
        submit=(action "submit")
      )}}
    {{/one-webui-popover}}
  </div>
{{else if (eq _renderMode "modal")}}
  {{#one-modal
    open=_contentVisible
    onHide=(action "onModalHide")
    class=_modalClass
    transitionDuration=modalTransitionDuration
    as |modal|
  }}
    {{#if (eq layoutType "modal")}}
      {{yield (hash
        modal=modal
        close=(action "close")
        submit=(action "submit")
      )}}
    {{else}}
      {{#modal.body}}
        {{yield (hash
          close=(action "close")
          submit=(action "submit")
        )}}
      {{/modal.body}}
    {{/if}}
  {{/one-modal}}
{{/if}}
