<input type="checkbox" id={{inputId}} disabled={{or isReadOnly _isInProgress}}>
<div class="one-way-toggle-control"></div>
{{#if (and isReadOnly showLockForReadOnly)}}
  <div class="one-way-toggle-readonly-icon">
    {{one-icon icon="lock"}}
    {{one-tooltip
      title=_lockHint
      placement="top"
      triggerEvents="hover"
    }}
  </div>
{{/if}}
{{#if _isInProgress}}
  {{spin-spinner-block
    class="one-way-toggle-spinner"
    sizeClass="xxs"
  }}
{{/if}}
