{{#if _inEditionMode}}
  {{one-way-capacity
    inputClasses=inputClasses
    value=_inputValue
    onChange=(action "updateInputValue")
    onKeyUp=(action "inputOnKeyUp")
    disabled=_whileSaving}}
  {{#if validationMessage}}
    <div class="form-message">{{validationMessage}}</div>
  {{/if}}
  <span class="input-group-btn">
    {{#one-button
      type="primary"
      buttonType="submit"
      class="btn-confirm-choose btn-save"
      onClick=(action "saveEdition")
      disabled=hasError
      isPending=_whileSaving
    }}
      {{one-icon icon="checked"}}
    {{/one-button}}
    {{#bs-button
      type="default"
      onClick=(action "cancelEdition")
      class="btn-confirm-choose btn-cancel"
      disabled=_whileSaving
    }}
      {{one-icon icon="ban-left"}}
    {{/bs-button}}
  </span>
{{else}}
  <input
    type="text"
    class="form-control size-number-input {{inputClasses}}"
    value={{displayedInputValue}}
    readonly=true
  >
  <span class="input-group-btn">
    {{#bs-button
      type="default"
      class="btn-modify"
      onClick=(action "startEdition")
    }}
      {{one-icon icon="browser-rename"}}
      <span class="btn-label">{{tt this "modify"}}</span>
    {{/bs-button}}
  </span>
{{/if}}
