{{#if (or titleContent titleTip isSharedNavVisible)}}
  <div class="section-header">
    {{#if titleContent}}
      <h3 class="section-title">{{titleContent}}</h3>
    {{/if}}
    {{#if titleTip}}
      {{#one-label-tip class="section-title-tip" tooltipClass="tooltip-lg"}}
        {{titleTip}}
      {{/one-label-tip}}
    {{/if}}
    {{#if (and isSharedNavVisible chartModelsProxy.isFulfilled)}}
      {{one-time-series-chart/toolbar
        class="section-charts-shared-navigation"
        models=chartModelsProxy.content
      }}
    {{/if}}
  </div>
{{/if}}

{{#if descriptionContent}}
  <p class="section-description">{{descriptionContent}}</p>
{{/if}}

{{#if sectionSpec.charts.length}}
  <div class="section-charts">
    {{#if isSharedNavVisible}}
      {{#promise-proxy-container proxy=chartModelsProxy}}
        {{#each chartModelsProxy as |model|}}
          {{one-time-series-chart/plot model=model class="section-chart"}}
        {{/each}}
      {{/promise-proxy-container}}
    {{else}}
      {{#promise-proxy-container proxy=chartConfigurationsProxy}}
        {{#each chartConfigurationsProxy as |configuration|}}
          {{one-time-series-chart
            configuration=configuration
            class="section-chart"
          }}
        {{/each}}
      {{/promise-proxy-container}}
    {{/if}}
  </div>
{{/if}}

{{#if sectionSpec.sections.length}}
  <div class="section-subsections">
    {{#each sectionSpec.sections as |subsection|}}
      {{one-time-series-charts-section
        live=live
        sectionSpec=subsection
        onGetTimeSeriesSchemas=onGetTimeSeriesSchemas
        externalDataSources=externalDataSources
        queryBatchers=queryBatchers
      }}
    {{/each}}
  </div>
{{/if}}

{{#if (and (not sectionSpec.charts.length) (not sectionSpec.sections.length))}}
  <p class="no-charts-info">{{tt this "noChartsDefined"}}</p>
{{/if}}
{{yield}}
