<div class="row">
  <label for={{inputId}} class={{concat "control-label label-column " layoutConfig.formLabelColumns}}>
    {{#unless field.nolabel}}
      {{concat field.label (if field.optional (concat " " (t "components.oneFormFields.optional") ""))}}:
    {{/unless}}
    {{#if field.tip}}
      {{one-label-tip title=field.tip class="form-field-right-addon"}}
    {{/if}}
  </label>
  <div class="form-control-column {{layoutConfig.formInputColumns}}">
    {{#if (eq field.type "datetime")}}
      {{one-datetime-picker
        datetime=value
        id=inputId
        class=inputClasses
        onChange=(action "inputChanged" field.name)
        disabled=disabled
        placeholder=field.placeholder
        focusOut=(action "onFocusOut")}}
    {{else if (eq field.type "radio-group")}}
      {{one-way-radio-group
        class=inputClasses
        inputId=inputId
        value=value
        fieldName=field.name
        options=field.options
        update=(action "inputChanged" field.name)
        isReadOnly=disabled
        onFocusOut=(action "onFocusOut")}}
    {{else if (eq field.type "dropdown")}}
      {{#power-select
        options=(map-by "value" field.options)
        selected=value
        onchange=(action "inputChanged" field.name)
        onblur=(action "onFocusOut")
        searchEnabled=false
        renderInPlace=true
        triggerClass=inputClasses
        as |optionValue|
      }}
        {{get (find-by "value" optionValue field.options) "label"}}
      {{/power-select}}
    {{else if (eq field.type "clipboard-line")}}
      {{one-clipboard-line
        class=inputClasses
        value=value
        showText=false}}
    {{else if (eq field.type "capacity")}}
      {{one-way-capacity
        class=inputClasses
        value=value
        inputId=inputId
        disabled=disabled
        onChange=(action "inputChanged" field.name)
        onFocusOut=(action "onFocusOut")}}
    {{else}}
      <div class={{if field.rightText "input-group"}}>
        {{#if (eq field.type "radio-group")}}
          {{one-way-radio-group
            class=inputClasses
            inputId=inputId
            value=value
            fieldName=field.name
            options=field.options
            update=(action "inputChanged" field.name)
            isReadOnly=disabled
            onFocusOut=(action "onFocusOut")
          }}
        {{else}}
          {{!-- using input and change events to be compatible with one-way-input --}}
          <input
            id={{inputId}}
            value={{value}}
            type={{form-field-input-type field.type}}
            class={{inputClasses}}
            oninput={{action
              (action "inputChanged" field.name)
              value="target.value"
            }}
            onchange={{action
              (action "inputChanged" field.name)
              value="target.value"
            }}
            onblur={{action "onFocusOut"}}
            step={{field.step}}
            disabled={{disabled}}
            autocomplete={{if (eq field.type "password") "new-password"}}
            placeholder={{if field.placeholder
              field.placeholder
              (if field.example
                (concat (tt this "example") ": " field.example)
                ""
              )
            }}
          >
          {{#if field.rightText}}
            {{#truncated-string class="input-group-addon"}}{{field.rightText}}{{/truncated-string}}
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
    <div class="form-message {{unless field.message "hidden"}}">{{field.message}}</div>
  </div>
</div>
