<input
  id={{inputId}}
  class="form-control size-number-input {{inputClasses}}"
  value={{scaledValue}}
  oninput={{action "scaledValueChanged" value="target.value"}}
  onblur={{action onFocusOut}}
  onkeyup={{action onKeyUp}}
  disabled={{disabled}}
  placeholder={{placeholder}}
>
<span class="input-group-basic-dropdown size-unit-select-group">
  <OneDropdown
    @triggerClass={{size}}
    @dropdownClass={{size}}
    @disabled={{disabled}}
    @options={{sizeUnits}}
    @selected={{sizeUnit}}
    @onChange={{action "sizeUnitChanged"}}
    as |unit|
  >
    {{unit.name}}
  </OneDropdown>
</span>
{{yield}}
