<div class="one-pill-button-inner">
  <div class="button-text">
    {{yield}}
  </div>
  <div
    class="one-pill-button-actions-trigger"
    onclick={{action (disable-bubbling (action "toggleActions"))}}
  >
    {{#if useDots}}
      <div class="icon-dot"></div>
      <div class="icon-dot"></div>
      <div class="icon-dot"></div>
    {{else}}
      {{one-icon icon=arrowIcon}}
    {{/if}}
  </div>
  {{#one-webui-popover
    class="one-pill-button-actions-popover"
    popoverStyle=(concat-classes "with-dropdown" popoverClass)
    padding=false
    popoverTrigger="manual"
    triggerSelector=(concat "#" elementId " .one-pill-button-actions-trigger")
    open=actionsOpen
    as |popover|
  }}
    {{#click-outside action=(action "toggleActions" false)}}
      {{#popover-content-limit opened=popover.visible}}
        {{actions-popover-content
          actionsArray=menuItems
          actionClicked=(action "toggleActions" false)
          class="button-actions ps--focus"
        }}
      {{/popover-content-limit}}
    {{/click-outside}}
  {{/one-webui-popover}}
  
</div>
