{{#promise-proxy-container proxy=stateProxy}}
  {{#if hasDataToShow}}
    <div class="btn-toolbar">
      {{#bs-button-group
        value=selectedTimeResolution
        class="time-resolution-selector"
        type="radio"
        onChange=(action "changeTimeResolution") as |bg|
      }}
        {{#each timeResolutionOptions key="value" as |timeResolutionOption|}}
          <div class="btn-group" role="group">
            {{#bg.button
              type="default"
              class="btn-sm"
              value=timeResolutionOption.value
            }}
              {{timeResolutionOption.label}}
            {{/bg.button}}
          </div>
        {{/each}}
      {{/bs-button-group}}
      <div class="btn-group navigation-buttons">
        {{#bs-button
          class="show-older-btn"
          size="sm"
          disabled=isShowOlderDisabled
          onClick=(action "showOlder")
        }}
          {{one-icon icon="arrow-left"}}
        {{/bs-button}}
        {{#bs-button
          class="show-newer-btn"
          size="sm"
          disabled=isShowNewerAndNewestDisabled
          onClick=(action "showNewer")
        }}
          {{one-icon icon="arrow-right"}}
        {{/bs-button}}
        {{#bs-button
          class="show-newest-btn"
          size="sm"
          disabled=isShowNewerAndNewestDisabled
          onClick=(action "showNewest")
        }}
          {{one-icon icon="arrow-right"}}
          {{one-icon icon="arrow-right"}}
        {{/bs-button}}
      </div>
    </div>
    {{one-echart option=echartState}}
  {{else}}
    <p>{{tt this "noDataToShow"}}</p>
  {{/if}}
{{/promise-proxy-container}}
