{{#if internal}}({{/if}}{{tt this (if internal "seeLower" "seeUpper")}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  <a class="documentation-link" href={{one-doc-url docPath}} target="_blank">
    {{#if linkName}}
      {{linkName}}
    {{/if}}
    {{tt this "documentation"}}
  </a>
{{/if}}
{{!-- NOTE: do not add any whitespace after below line to avoid spaces after text --}}
{{tt this "more"}}{{#if internal}}){{else}}.{{/if}}