<div class="row">
  <label for={{inputId}} class={{concat "control-label " layoutConfig.formLabelColumns}}>
    {{concat field.label (if field.optional (concat " " (t "components.oneFormFields.optional") ""))}}:
    {{#if field.tip}}
      {{one-label-tip title=field.tip}}
    {{/if}}
  </label>
  <div class={{layoutConfig.formInputColumns}}>
    {{#if (eq field.type "dropdown")}}
      {{#power-select
        options=(map-by "value" field.options)
        selected=value
        onchange=(action "inputChanged" field.name)
        searchEnabled=false
        renderInPlace=true
        as |optionValue|
      }}
        {{get (find-by "value" optionValue field.options) "label"}}
      {{/power-select}}
    {{else}}
      <div class={{if field.rightText "input-group"}}>
        {{component (input-component-name field.type)
          id=inputId
          value=value
          class=(concat "form-control one-form-field field-" (dot-to-dash field.name))
          update=(action "inputChanged" field.name)
          step=field.step
          disabled=disabled
          placeholder=(if field.placeholder field.placeholder (if field.example (concat 'Example: ' field.example) ""))
          focusOut=(action "onFocusOut")
        }}
        {{#if field.rightText}}
          {{#truncated-string class="input-group-addon"}}{{field.rightText}}{{/truncated-string}}
        {{/if}}
      </div>
    {{/if}}
    <div class="form-message">{{field.message}}</div>
  </div>
</div>
