<div class="section-header">
  {{#if sectionSpec.title}}
    {{#if sectionSpec.title.content}}
      <h3 class="section-title">{{sectionSpec.title.content}}</h3>
    {{/if}}
    {{#if sectionSpec.title.tip}}
      {{one-label-tip
        class="section-title-tip"
        title=sectionSpec.title.tip
        tooltipClass="tooltip-lg"
      }}
    {{/if}}
  {{/if}}
  {{#if (eq sectionSpec.chartsNavigation "sharedForSection")}}
    {{one-time-series-chart/toolbar models=chartModels}}
  {{/if}}
</div>

{{#if sectionSpec.description.content}}
  <p class="section-description">{{sectionSpec.description.content}}</p>
{{/if}}

{{#if chartConfigurations.length}}
  <div class="section-charts">
    {{#if (eq sectionSpec.chartsNavigation "sharedForSection")}}
      {{#each chartModels as |model|}}
        <div class="section-chart">
          {{one-time-series-chart/plot model=model}}
        </div>
      {{/each}}
    {{else}}
      {{#each chartConfigurations as |configuration|}}
        <div class="section-chart">
          {{one-time-series-chart configuration=configuration}}
        </div>
      {{/each}}
    {{/if}}
  </div>
{{/if}}

{{#if sectionSpec.sections.length}}
  <div class="section-subsections">
    {{#each sectionSpec.sections as |subsection|}}
      {{one-time-series-charts-section
        sectionSpec=subsection
        timeSeriesSchemas=timeSeriesSchemas
        externalDataSources=externalDataSources
      }}
    {{/each}}
  </div>
{{/if}}

{{yield}}
