{{#if _inEditionMode}}
  <input
    type="text"
    class={{concat-classes "form-control" inputClasses}}
    value={{_inputValue}}
    disabled={{_whileSaving}}
    placeholder={{inputPlaceholder}}
    oninput={{action (mut _inputValue) value="target.value"}}
    onkeydown={{invoke-on-key (hash
      Enter=(action "saveEdition")
      Escape=(action "cancelEdition")
    )}}
    onblur={{action onLostFocus}}
  />
  <span class="action-icons">
    {{#if _whileSaving}}
      {{spin-spinner-block sizeClass="xs"}}
    {{else if (not hideEditIcons)}}
      {{one-icon icon="checked" class="save-icon" click=(action "saveEdition")}}
      {{one-icon icon="ban-left" class="cancel-icon" click=(action "cancelEdition")}}
    {{/if}}
  </span>
{{else}}
  {{#truncated-string tagName="span" class="one-label" click=(action "startEdition")}}
    {{#if value}}
      {{value}}
    {{else if showEmptyInfo}}
      <span class="empty-value">{{staticPlaceholder}}</span>
    {{/if}}
  {{/truncated-string}}
  <span class="action-icons">
    {{#if (not hideViewIcons)}}
      {{one-icon icon="rename" class="edit-icon" click=(action "startEdition")}}
      {{#if editHint}}
        {{one-tooltip title=editHint placement="bottom"}}
      {{/if}}
    {{/if}}
  </span>
{{/if}}
