<div class="tile-main" onmousedown={{action "tileMainClick"}}>
  <h1 class="tile-title">
    <span class="one-label">
      {{title}}
    </span>
    {{#if titleTip}}
      {{one-label-tip tooltipClass=titleTooltipClass title=titleTip}}
    {{/if}}
    {{#if moreText}}
      {{#if linkToParams}}
        {{#link-to params=linkToParams class="more-link"}}
          {{moreText}} &raquo;
        {{/link-to}}
      {{else if customLink}}
        <a href={{customLink}} class="more-link">
          {{moreText}} &raquo;
        </a>
      {{/if}}
    {{else if showDismissButton}}
      <div class="dismiss-button clickable" onclick={{action "dismiss"}}>
        {{one-icon icon="close"}}
        {{one-tooltip title=(tt this "dismissTip")}}
      </div>
    {{/if}}
  </h1>
  <div class="tile-content">
    <div class="tile-content-inner">
      {{yield (hash sizeClass=sizeClass)}}
    </div>
  </div>
</div>
{{#if footerText}}
  <div class={{concat-classes "tile-footer" footerClass}}>
    {{#if footerLinkToParams}}
      {{#link-to params=footerLinkToParams class="tile-footer-text tile-footer-link black"}}
        {{#if footerTextIcon}}
          <div class="inline-icon-container footer-text-icon-container">
            {{one-icon icon=footerTextIcon class="tile-footer-icon"}}
          </div>{{/if}}{{footerText}}
          {{!-- ^ no space for Firefox --}}
      {{/link-to}}
    {{else}}
      {{#if footerTextIcon}}
        <div class="inline-icon-container footer-text-icon-container">
          {{one-icon icon=footerTextIcon class="tile-footer-icon"}}
        </div>
      {{/if}}
      <span class="tile-footer-text">{{footerText}}</span>
      {{#if tooltipText}}
        {{one-tooltip title=tooltipText}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
