{{#one-modal
  class=modalClass
  open=opened
  onShown=onShown
  onHide=close
  onHidden=onHidden
  size=size
  backdropClose=(not processing)
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{#if modalIcon}}
        {{one-icon icon=modalIcon}}
      {{/if}}
      <span class="one-label">{{headerText}}</span>
    </h1>
  {{/modal.header}}
  {{#modal.body class=(if textCenter "text-center")}}
    {{#if (has-block)}}
      {{yield (hash proceed=(action "proceed") processing=processing)}}
    {{else}}
      {{messageText}}
    {{/if}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button disabled=processing onClick=close class="cancel"}}
      {{cancelButtonText}}
    {{/bs-button}}
    {{#one-spin-button
      action=(action "proceed")
      class=proceedButtonClass
      disabled=proceedDisabled
    }}
      {{proceedButtonText}}
    {{/one-spin-button}}
  {{/modal.footer}}
{{/one-modal}}
