<div
  class="record-with-icon flippable-icons-with-text"
  onmouseenter={{action "recordInfoHovered" true}}
  onmouseleave={{action "recordInfoHovered" false}}
>
  <div
    class="record-info-trigger popover-info-trigger"
    {{action
      (mut recordInfoOpened)
      (not recordInfoOpened)
      bubbles=false
    }}
  >
    {{flippable-icons
      iconName=icon
      iconColor=iconColor
      isHovered=hasRecordInfoHovered
      suppressFlipping=recordInfoOpened
    }}
  </div>
  {{#truncated-string
    tagName="div"
    class="record-text-container"
  }}
    {{record-name record=record}}
  {{/truncated-string}}
</div>
{{#record-info-popover
  isOpened=recordInfoOpened
  triggerSelector=(concat "#" elementId " .record-info-trigger")
}}
  {{component (concat recordType "-info-content")
    record=record
    errorReason=errorReason
  }}
{{/record-info-popover}}