{{#one-collapsible-list as |list|}}
  {{#each sortedItems as |item|}}
    {{#list.item class="resource-item" as |listItem|}}
      {{#listItem.header tagName=(if item.link "a" "div") href=item.link isCollapsible=false}}
        {{#if item.icon}}
          <span 
            class={{concat-classes 
              "item-icon-container"
              (if isResourceWithAdditionalInfo "icon-container popover-info-trigger")
            }}
            {{action
              (mut item.itemInfoOpened)
              (not item.itemInfoOpened)
              bubbles=false
            }}
            onmouseover={{action "itemInfoHovered" item true}}
            onmouseleave={{action "itemInfoHovered" item false}}
          >
            {{#if isResourceWithAdditionalInfo}}
              {{flippable-icons
                iconName=item.icon
                iconColor=iconColor
                isHovered=item.hasItemInfoHovered
                suppressFlipping=item.itemInfoOpened
              }}
            {{else}}
              {{one-icon 
                class="item-icon tmp" 
                icon=item.icon
              }}
            {{/if}}
            {{#one-tooltip
              placement="top"
              arrowPlacement="left"
              triggerEvents="hover"
            }}
              {{#if item.conflictingLabelSource}}
                {{name-conflict
                  item=item.conflictingLabelSource
                }}
              {{else}}
                {{item.label}}
              {{/if}}
            {{/one-tooltip}}
          </span>
        {{/if}}
        {{#truncated-string}}
          {{#if item.conflictingLabelSource}}
            {{name-conflict
              item=item.conflictingLabelSource
              tagName="span"
              class="one-label"
              mouseEnter=(action "itemInfoHovered" item true)
              mouseLeave=(action "itemInfoHovered" item false)
            }}
          {{else}}
            <span 
              class="one-label"
              onmouseover={{action "itemInfoHovered" item true}}
              onmouseleave={{action "itemInfoHovered" item false}}
            >{{item.label}}</span>
          {{/if}}
        {{/truncated-string}}
        {{#if item.actions.length}}
          {{actions-toolbar
            isMinimized=true
            toolbarClasses=""
            toolbarToggleClasses="btn-menu-toggle"
            dropdownPlacement="auto"
            actionsArray=item.actions
          }}
        {{/if}}
      {{/listItem.header}}
    {{/list.item}}
    {{#record-info-popover
      isOpened=(and isResourceWithAdditionalInfo item.itemInfoOpened)
      triggerSelector=(concat "#" elementId " .item-icon-container")
    }}
      {{space-info-content
        space=item.space
      }}
    {{/record-info-popover}}
  {{/each}}
{{/one-collapsible-list}}
{{yield}}
