{{!-- TODO i18n --}}
{{#if onClose}}
  <button class="btn icon-btn error-close" {{action 'close'}}>{{one-icon icon="close"}}</button>
{{/if}}
<strong class="main-message">{{message}}</strong>
{{#if showReasonPanel}}
  <a role="button" class="promise-error-show-details text-danger" {{action "toggleShowDetails"}}>
    {{if showDetails "Hide" "Show"}}&nbsp;details...
  </a>
  <div class="error-details {{if showDetails "active"}}">
    {{#if _reasonDetails.message}}
      <p>{{_reasonDetails.message}}</p>
    {{/if}}
    {{#if (and _reasonDetails.message _reasonDetails.errorJsonString)}}
      <br>
    {{/if}}
    {{#if _reasonDetails.errorJsonString}}
      <div class="error-json">{{_reasonDetails.errorJsonString}}</div>
    {{/if}}
  </div>
{{/if}}
