<thead>
  <tr>
    <th class="revisions-table-header-cell revision-number-column">
      {{tt this "column.revisionNumber"}}
    </th>
    <th class="revisions-table-header-cell state-column">
      {{tt this "column.state"}}
    </th>
    {{yield "header"}}
    {{#unless isReadOnly}}
      <th class="revisions-table-header-cell actions-column"></th>
    {{/unless}}
  </tr>
</thead>
<tbody>
  {{#unless isReadOnly}}
    {{revisions-table/create-revision-entry
      columnsCount=columnsCount
      revisionActionsFactory=revisionActionsFactory
    }}
  {{/unless}}
  {{#if (eq latestRevNum null)}}
    <tr class="revisions-table-empty-entry">
      <td
        colspan={{columnsCount}}
        class="revisions-table-data-cell small text-muted text-center"
      >
        {{tt this "noRevisions"}}
      </td>
    </tr>
  {{else}}
    {{#revisions-table/entries-section
      mainRevisionNumber=latestRevNum
      collapsedRevisionNumbers=revNumsBetweenStableAndLatest
      revisionRegistry=revisionRegistry
      revisionActionsFactory=revisionActionsFactory
      onRevisionClick=onRevisionClick
      isReadOnly=isReadOnly
      columnsCount=columnsCount
      expanderClass="between-revisions-expander"
      as |section data|
    }}
      {{yield section data}}
    {{/revisions-table/entries-section}}
    {{#revisions-table/entries-section
      mainRevisionNumber=(if
        (and (not-eq latestStableRevNum null) (not-eq latestStableRevNum latestRevNum))
        latestStableRevNum
      )
      collapsedRevisionNumbers=revNumsBeforeStable
      revisionRegistry=revisionRegistry
      revisionActionsFactory=revisionActionsFactory
      onRevisionClick=onRevisionClick
      isReadOnly=isReadOnly
      columnsCount=columnsCount
      expanderClass="older-revisions-expander"
      as |section data|
    }}
      {{yield section data}}
    {{/revisions-table/entries-section}}
  {{/if}}
</tbody>
