<thead>
  <tr>
    <th class="revisions-table-header-cell revision-number-column">
      {{tt this "column.revisionNumber"}}
    </th>
    <th class="revisions-table-header-cell state-column">
      {{tt this "column.state"}}
    </th>
    {{yield "header"}}
    {{#unless isReadOnly}}
      <th class="revisions-table-header-cell actions-column"></th>
    {{/unless}}
  </tr>
</thead>
<tbody>
  {{#unless isReadOnly}}
    {{revisions-table/create-revision-entry
      columnsCount=columnsCount
      revisionActionsFactory=revisionActionsFactory
    }}
  {{/unless}}
  {{#if (eq latestRevNum null)}}
    <tr class="revisions-table-empty-entry">
      <td colspan={{columnsCount}} class="revisions-table-data-cell small text-muted text-center">
        {{tt this "noRevisions"}}
      </td>
    </tr>
  {{else}}
    {{#revisions-table/revision-entry
      revisionNumber=latestRevNum
      revision=(get revisionRegistry latestRevNum)
      revisionActionsFactory=revisionActionsFactory
      onClick=onRevisionClick
      isReadOnly=isReadOnly
      as |revision revisionNumber|
    }}
      {{yield "revision" (hash revision=revision revisionNumber=revisionNumber)}}
    {{/revisions-table/revision-entry}}
    {{#if revNumsBetweenStableAndLatest.length}}
      {{#if areRevNumsBetweenStableAndLatestExpanded}}
        {{#each revNumsBetweenStableAndLatest as |revNum|}}
          {{#revisions-table/revision-entry
            revisionNumber=revNum
            revision=(get revisionRegistry revNum)
            revisionActionsFactory=revisionActionsFactory
            onClick=onRevisionClick
            isReadOnly=isReadOnly
            as |revision revisionNumber|
          }}
            {{yield "revision" (hash revision=revision revisionNumber=revisionNumber)}}
          {{/revisions-table/revision-entry}}
        {{/each}}
      {{else}}
        {{revisions-table/revision-entries-expander
          class="between-revisions-expander"
          columnsCount=columnsCount
          entriesCount=revNumsBetweenStableAndLatest.length
          onExpand=(action "expandRevsBetweenStableAndLatest")
        }}
      {{/if}}
    {{/if}}
    {{#if (and (not-eq latestStableRevNum null) (not-eq latestStableRevNum latestRevNum))}}
      {{#revisions-table/revision-entry
        revisionNumber=latestStableRevNum
        revision=(get revisionRegistry latestStableRevNum)
        revisionActionsFactory=revisionActionsFactory
        onClick=onRevisionClick
        isReadOnly=isReadOnly
        as |revision revisionNumber|
      }}
        {{yield "revision" (hash revision=revision revisionNumber=revisionNumber)}}
      {{/revisions-table/revision-entry}}
    {{/if}}
    {{#if revNumsBeforeStable.length}}
      {{#if areRevNumsBeforeStableExpanded}}
        {{#each revNumsBeforeStable as |revNum|}}
          {{#revisions-table/revision-entry
            revisionNumber=revNum
            revision=(get revisionRegistry revNum)
            revisionActionsFactory=revisionActionsFactory
            onClick=onRevisionClick
            isReadOnly=isReadOnly
            as |revision revisionNumber|
          }}
            {{yield "revision" (hash revision=revision revisionNumber=revisionNumber)}}
          {{/revisions-table/revision-entry}}
        {{/each}}
      {{else}}
        {{revisions-table/revision-entries-expander
          class="older-revisions-expander"
          columnsCount=columnsCount
          entriesCount=revNumsBeforeStable.length
          onExpand=(action "expandRevsBeforeStable")
        }}
      {{/if}}
    {{/if}}
  {{/if}}
</tbody>
