<h1>
  <span class="one-label">
    {{tt this "title"}}
  </span>
</h1>
<table class="table table-condensed table-info">
  <tbody>
    <tr class="row-with-input">
      <td class="property-name">{{tt this "name"}}</td>
      <td class="property-value">
        {{one-clipboard-line
          size="sm"
          value=record.name
          type="text"
        }}
      </td>
    </tr>
    <tr class="row-with-input">
      <td class="property-name">{{tt this "id"}}</td>
      <td class="property-value">
        {{one-clipboard-line
          size="sm"
          value=record.entityId
          type="text"
        }}
      </td>
    </tr>
    {{#if (and showDetails showCreator)}}
      <tr class="row-with-text">
        <td class="property-name">{{tt this "creator"}}</td>
        <td class="property-value">
          {{#truncated-string}}
            {{#if creator.fullName}}
              {{record-name record=creator}}
            {{else}}
              –
            {{/if}}
          {{/truncated-string}}
        </td>
      </tr>
    {{/if}}
    {{#if (and showDetails creationTime)}}
      <tr class="row-with-text">
        <td class="property-name">{{tt this "creationTime"}}</td>
        <td class="property-value">
          {{creationTime}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
{{#if showDetails}}
  <div class="links-container">
    {{#if showLinkToRestApiModal}}
      <a {{action "openRestApiModal"}} class="info-link rest-api-link clickable">
        <span>{{tt this "openRestApi"}}</span>
        {{one-icon icon="rest"}}
      </a>
      {{#if (or showLinkToFileBrowser showLinkToSpace)}}
        <span class="col-separator"></span>
      {{/if}}
    {{/if}}
    {{#if showLinkToFileBrowser}}
      <a
        href={{linkToFileBrowser}}
        class="info-link file-browser-link clickable"
      >
        <span>{{tt this "openFileBrowser"}}</span>
        {{one-icon icon="link-external"}}
      </a>
      {{#if showLinkToSpace}}
        <span class="col-separator"></span>
      {{/if}}
    {{/if}}
    {{#if showLinkToSpace}}
      <a href={{linkToSpace}} class="info-link space-link clickable">
        {{tt this "openSpace"}}
        {{one-icon icon="link-external"}}
      </a>
    {{/if}}
  </div>
{{/if}}
