{{#each tags as |tag|}}
  <li class="tag-item input-element {{if (contains tag currentTagsToHighlight) "animated fadeIn"}}">
    {{#if tag.icon}}
      {{one-icon icon=tag.icon class="tag-icon"}}
    {{/if}}
    {{#truncated-string class="tag-label"}}{{tag.label}}{{/truncated-string}}
    {{#if allowModification}}
      {{one-icon icon="close" class="tag-remove" click=(action "removeTag" tag)}}
    {{/if}}
  </li>
{{/each}}
{{#if isCreatingTag}}
  <li class="tag-creator">
    {{component tagEditorComponentName
      class="input-element"
      settings=tagEditorSettings
      selectedTags=tags
      tagsLimit=tagsLimitForEditor
      onEndTagCreation=(action "endTagCreation")
      onTagsAdded=(action "newTagsAdded")
    }}
  </li>
{{/if}}
{{#if allowModification}}
  <li
    class="tag-creator-trigger input-element {{if (not allowCreation) "disabled"}}"
    {{action "startTagCreation"}}
  >
    {{one-icon icon="plus"}}
    {{#if createTriggerTip}}
      {{one-tooltip title=createTriggerTip}}
    {{/if}}
  </li>
  {{#if isClearButtonEffectivelyVisible}}
    {{remove-icon
      tooltipText=(tt this "clearBtn")
      class="input-clear-trigger"
      onClick=(action "clearInput")
    }}
  {{/if}}
{{/if}}
{{yield}}
