{{#each displayedTags as |tag|}}
  <li class={{concat-classes
    "tag-item input-element"
    (if (contains tag currentTagsToHighlight) "animated fadeIn")
    tag.className
  }}>
    {{#if tag.icon}}
      {{one-icon icon=tag.icon class="tag-icon"}}
    {{/if}}
    {{#truncated-string class="tag-label"}}{{tag.label}}{{/truncated-string}}
    {{#if allowModification}}
      {{one-icon icon="close" class="tag-remove" click=(action "removeTag" tag)}}
    {{/if}}
    {{#if tag.tip}}
      {{one-tooltip title=tag.tip}}
    {{/if}}
  </li>
{{/each}}
{{#if isCreatingTag}}
  <li class="tag-creator">
    {{component tagEditorComponentName
      class="input-element"
      settings=tagEditorSettings
      selectedTags=tags
      tagsLimit=tagsLimitForEditor
      onEndTagCreation=(action "endTagCreation")
      onTagsAdded=(action "newTagsAdded")
    }}
  </li>
{{/if}}
{{#if allowModification}}
  {{#if isPlaceholderEffectivelyVisible}}
    <li class="input-element tags-input-placeholder" {{action "startTagCreation"}}>
      {{editPlaceholder}}
    </li>
  {{/if}}
  <li
    class="tag-creator-trigger input-element {{if (not allowCreation) "disabled"}}"
    {{action "startTagCreation"}}
  >
    {{one-icon icon="plus"}}
    {{#if createTriggerTip}}
      {{one-tooltip title=createTriggerTip}}
    {{/if}}
  </li>
  {{#if isClearButtonEffectivelyVisible}}
    {{remove-icon
      tooltipText=(tt this "clearBtn")
      class="input-clear-trigger"
      onClick=(action "clearInput")
    }}
  {{/if}}
{{/if}}
{{#if moreTags.length}}
  <li class="tag-item tag-item-plaintext more-tag clickable">
    <div class="tag-label more-tag-text">
      {{tt this "moreTags" count=moreTags.length}}
    </div>
    {{#one-tooltip class="tooltip-with-tags"}}
      <ul class="tags-input">
        {{#each moreTags as |tag|}}
          {{!-- using .tag-label element is not necessary here --}}
          <li class="tag-item">{{tag.label}}</li>
        {{/each}}
      </ul>
    {{/one-tooltip}}
  </li>
{{/if}}
{{yield}}
