{{!-- TODO i18n --}}

{{#if isCollectionEmpty}}

  {{empty-collection-sidebar resourceType=resourceType showCreateButton=showCreateOnEmpty}}

{{else}}

  {{yield}}

  {{#one-list-wrapper items=sortedCollection class="no-top-border" as |item|}}
    <li class="one-list-item clickable {{if (eq primaryItem item) "active"}}">
      <div class="item-header truncate">
        {{#link-to
          "onedata.sidebar.content.index"
          sidebarType
          (model-routable-id item)
          active=false
          willBeActive=false
          loading=false
        }}
          {{#if firstLevelItemComponent}}
            {{component firstLevelItemComponent item=item inSidenav=inSidenav sidebar=this}}
          {{else}}
            {{#if firstLevelItemIcon}}
              {{one-icon class="sidebar-item-icon" icon=firstLevelItemIcon}} 
            {{/if}}
            {{#truncated-string class=(if firstLevelItemIcon "after-icon")}}
              {{name-conflict item=item tagName="span" class="one-label"}}
            {{/truncated-string}}
          {{/if}}
        {{/link-to}}
      </div>
      {{#if (eq primaryItem item)}}
        <ul class="one-list one-list-level-2">
          {{component secondLevelItemsComponent
            item=item
            secondaryItemId=secondaryItemId
            sidebar=this
            secondLevelItems=secondLevelItems
            sidebarType=sidebarType
          }}
        </ul>
      {{/if}}
    </li>
  {{/one-list-wrapper}}

{{/if}}


