{{!-- TODO i18n --}}

{{#if isCollectionEmpty}}

  {{empty-collection-sidebar resourceType=resourceType}}

{{else}}

  {{#one-list-wrapper items=model.collection as |item|}}
    {{#one-list-primary-item item=item
      changePrimaryItemId=(action "changePrimaryItemId")
      isActive=(eq primaryItemId item.id)
      as |primarySection|}}
      {{#if (eq primarySection 'header')}}
        {{#if firstLevelItemComponent}}
          {{component firstLevelItemComponent item=item}}
        {{else}}
          {{#if firstLevelItemIcon}}
            {{one-icon icon=firstLevelItemIcon}} 
          {{/if}}
          {{#truncated-string class=(if firstLevelItemIcon "after-icon")}}
            <span class="one-label">{{item.name}}</span>
          {{/truncated-string}}
        {{/if}}
      {{else if (eq primarySection 'secondary')}}
        {{!-- TODO isActive secondary --}}
        <ul class="one-list one-list-level-2">
          {{#each secondLevelItems as |sli|}}
            <li 
              class={{concat "one-list-item clickable " (if (eq secondaryItemId sli.id) "active" "")}}
              {{action "sidebarSecondaryItemSelected"}}>
              {{#if sli.withoutRoute}}
                <div class="item-header truncate">
                  {{#if sli.component}}
                    {{component sli.component item=sli}}
                  {{else}}
                    {{two-level-sidebar/item-content item=sli}}
                  {{/if}}
                </div>
              {{else}}
                {{#link-to
                  "onedata.sidebar.content.aspect"
                  sidebarType
                  item.id
                  sli.id
                  tagName="div"
                  class="item-header truncate"
                }}
                  {{#if sli.component}}
                    {{component sli.component item=sli}}
                  {{else}}
                    {{two-level-sidebar/item-content item=sli}}
                  {{/if}}
                {{/link-to}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/one-list-primary-item}}
  {{/one-list-wrapper}}

{{/if}}


