<h1>
  <span class="one-label">
    {{tt this "title"}}
  </span>
</h1>
{{#if errorReason}}
  {{resource-load-error reason=errorReason}}
{{else}}
  <table class="table table-condensed table-info">
    <tbody>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "fullName"}}</td>
        <td class="property-value">{{or record.fullName "—"}}</td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "username"}}</td>
        <td class="property-value">{{or record.username "—"}}</td>
      </tr>
      <tr class="row-with-text">
        <td class="property-name">{{tt this "userId"}}</td>
        <td class="property-value">
          {{one-clipboard-line
            size="sm"
            value=record.entityId
            type="text"
          }}
        </td>
      </tr>
    </tbody>
  </table>
{{/if}}
