{{#truncated-string}}
  <span
    class="user-info-trigger"
    {{action
      (mut userInfoOpened)
      (not userInfoOpened)
      bubbles=false
    }}
    onmouseover={{action "userInfoHovered" true}}
    onmouseleave={{action "userInfoHovered" false}}
  >
    {{flippable-icons
      iconName="user"
      iconColor=iconColor
      isHovered=hasUserInfoHovered
      shouldAnimated=(not userInfoOpened)
    }}
  </span>
  <span
    onmouseover={{action "userInfoHovered" true}}
    onmouseleave={{action "userInfoHovered" false}}
  >
    <span class="user-fullname">{{or user.fullName "—"}}</span>
    {{#if user.username}}
      <span class="user-username">({{user.username}})</span>
    {{/if}}
  </span>
{{/truncated-string}}
{{#record-info-popover
  isOpened=userInfoOpened
  triggerSelector=(concat "#" elementId " .user-info-trigger")
}}
  {{user-info-content
    user=user
  }}
{{/record-info-popover}}