<h1>
  <span class="one-label">
    {{tt this "title"}}
  </span>
</h1>
<table class="table table-condensed table-info">
  <tr class="row-with-text">
    <td class="property-name">{{tt this "fullName"}}</td>
    <td class="property-value">{{or user.fullName "—"}}</td>
  </tr>
  <tr class="row-with-text">
    <td class="property-name">{{tt this "username"}}</td>
    <td class="property-value">{{or user.username "—"}}</td>
  </tr>
  <tr class="row-with-input">
    <td class="property-name">{{tt this "userId"}}</td>
    <td class="property-value">
      {{one-clipboard-line
        size="sm"
        value=user.entityId
        showText=false
      }}
    </td>
  </tr>
</table>