{{#if mobileMode}}
  {{#one-collapsible-list as |list|}}
    {{#list.item class="user-account-button" closeEventName='side-menu:close' as |listItem|}}
      {{#listItem.header class=(concat-classes menuItemClasses (if isActive "active" ""))}}
        {{one-icon
          class="user-profile-icon item-icon"
          icon="user-profile"
        }}
        <span class="one-label user-account-button-username">
          {{username}}
        </span>
      {{/listItem.header}}
      {{#listItem.content}}
        {{#one-collapsible-list as |list|}}
          {{#if guiUtils.manageAccountText}}
            {{#list.item isCollapsible=false as |listItem|}}
              {{#listItem.header click=(action "manageAccount") class=(concat-classes menuItemClasses "manage-account-action")}}
                {{#if guiUtils.manageAccountExternalLink}}
                  <a href={{guiUtils.manageAccountExternalLink}}>
                    {{guiUtils.manageAccountText}}
                  </a>
                {{else}}
                  {{#link-to "onedata.sidebar" "users"}}
                    {{guiUtils.manageAccountText}}
                  {{/link-to}}
                {{/if}}
              {{/listItem.header}}
            {{/list.item}}
          {{/if}}
          {{#if privacyPolicyManager.showPrivacyPolicyAction}}
            {{#list.item isCollapsible=false as |listItem|}}
              {{#listItem.header click=(action "privacyPolicy") class=(concat-classes menuItemClasses "privacy-policy-action")}}
                {{tt this "privacyPolicy"}}
                <span class="oneicon oneicon-link-external"></span>
              {{/listItem.header}}
            {{/list.item}}
          {{/if}}
          {{#list.item isCollapsible=false as |listItem|}}
            {{#listItem.header click=(action "logout") class=(concat-classes menuItemClasses "logout-action")}}
              {{tt this "logout"}}
            {{/listItem.header}}
          {{/list.item}}
        {{/one-collapsible-list}}
      {{/listItem.content}}
    {{/list.item}}
  {{/one-collapsible-list}}
{{else}}
  <div class={{concat-classes menuItemClasses (if isActive "active" "")}} {{action "toggleMenu" bubbles=false}}>
    <div class="item-header truncate">
      {{one-icon
        class="user-profile-icon item-icon"
        icon="user-profile"
      }}
      <span class="one-label user-account-button-username">
        {{username}}
      </span>
      {{one-icon
        class="user-toggle-icon"
        icon=(if menuOpen "arrow-down" "arrow-up")
      }}
    </div>
  </div>

  {{#one-webui-popover
    class="user-account-menu"
    placement="top-left"
    open=menuOpen
    padding=false
    triggerSelector=menuTriggerSelector
    popoverStyle="user-account"
    multi=true
    as |popover|
  }}
    <ul class="dropdown-menu">
      {{#if guiUtils.manageAccountText}}
        <li>
          {{#if guiUtils.manageAccountExternalLink}}
            <a href={{guiUtils.manageAccountExternalLink}} class="manage-account-action clickable" click={{action "manageAccount"}}>
              {{guiUtils.manageAccountText}}
            </a>
          {{else}}
            {{#link-to "onedata.sidebar" "users" class="manage-account-action clickable" click=(action "manageAccount")}}
              {{guiUtils.manageAccountText}}
            {{/link-to}}
          {{/if}}
        </li>
      {{/if}}
      {{#if privacyPolicyManager.showPrivacyPolicyAction}}
        <li>
          <a class="clickable" {{action "privacyPolicy"}}>
            {{tt this "privacyPolicy"}}
            <span class="oneicon oneicon-link-external"></span>
          </a>
        </li>
      {{/if}}
      <li>
        <a class="clickable" {{action "logout"}}>
          {{tt this "logout"}}
        </a>
      </li>
    </ul>
  {{/one-webui-popover}}
{{/if}}
