<h3>Integer</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/integer/single-line-presenter value=10}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/integer/raw-presenter value=10}}
  </div>
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/integer/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/integer/table-body-row-presenter value=10}}
    </tbody>
  </table>
</p>

<h3>Boolean</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/boolean/single-line-presenter value=true}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/boolean/raw-presenter value=true}}
  </div>
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/boolean/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/boolean/table-body-row-presenter value=true}}
    </tbody>
  </table>
</p>

<h3>String</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/string/single-line-presenter value="abc def"}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/string/raw-presenter value="abc def"}}
  </div>
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/string/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/string/table-body-row-presenter value="abc def"}}
    </tbody>
  </table>
</p>

<h3>Object</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/object/single-line-presenter value=obj1}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/object/raw-presenter value=obj1}}
  </div>
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/object/table-header-row-presenter
        columns=(array "a" "c")
      }}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/object/table-body-row-presenter
        value=obj1
        columns=(array "a" "c")
      }}
    </tbody>
  </table>
</p>


<h3>File</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/file/single-line-presenter value=file1}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/file/raw-presenter value=file1}}
  </div>
</p>
<p>
  Visual:
  {{atm-workflow/value-presenters/file/visual-presenter value=file1 context=context}}
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/file/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/file/table-body-row-presenter
        value=file1
        context=context
      }}
    </tbody>
  </table>
</p>

<h3>Dataset</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/dataset/single-line-presenter value=dataset1}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/dataset/raw-presenter value=dataset1}}
  </div>
</p>
<p>
  Visual:
  {{atm-workflow/value-presenters/dataset/visual-presenter
    value=dataset1
    context=context
  }}
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/dataset/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/dataset/table-body-row-presenter
        value=dataset1
        context=context
      }}
    </tbody>
  </table>
</p>

<h3>Range</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/range/single-line-presenter value=range1}}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/range/raw-presenter value=range1}}
  </div>
</p>
<p>
  Visual:
  {{atm-workflow/value-presenters/range/visual-presenter value=range1}}
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/range/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/range/table-body-row-presenter value=range1}}
    </tbody>
  </table>
</p>

<h3>Time series measurement</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/time-series-measurement/single-line-presenter
    value=tsMeasurement1
  }}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/time-series-measurement/raw-presenter
      value=tsMeasurement1
    }}
  </div>
</p>
<p>
  Visual:
  {{atm-workflow/value-presenters/time-series-measurement/visual-presenter
    value=tsMeasurement1
  }}
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/time-series-measurement/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/time-series-measurement/table-body-row-presenter
        value=tsMeasurement1
      }}
    </tbody>
  </table>
</p>

<h3>Array</h3>
<p>
  Single line:
  {{atm-workflow/value-presenters/array/single-line-presenter
    value=array1
    dataSpec=array1DataSpec
  }}
</p>
<p>
  Raw:
  <div class="raw-presenter-container">
    {{atm-workflow/value-presenters/array/raw-presenter value=array1}}
  </div>
</p>
<p>
  Visual:
  {{atm-workflow/value-presenters/array/visual-presenter
    value=array1
    dataSpec=array1DataSpec
    context=context
  }}
</p>
<p>
  Table:
  <table>
    <thead>
      {{atm-workflow/value-presenters/array/table-header-row-presenter}}
    </thead>
    <tbody>
      {{atm-workflow/value-presenters/array/table-body-row-presenter
        value=array1
        dataSpec=array1DataSpec
        context=context
      }}
    </tbody>
  </table>
</p>

<h3>Single value presenter</h3>
<div class="full-value-presenter-container">
  {{atm-workflow/value-presenters/full-value-presenter
    value=array1
    dataSpec=array1DataSpec
    context=context
  }}
</div>
