<h3>Boolean</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=booleanEditorStateManager}}
</p>

<h3>Number</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=numberEditorStateManager}}
</p>

<h3>Object</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=objectEditorStateManager}}
</p>

<h3>Range</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=rangeEditorStateManager}}
</p>

<h3>String</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=stringEditorStateManager}}
</p>

<h3>Time series measurement</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=timeSeriesMeasurementEditorStateManager
  }}
</p>

<h3>File</h3>
<p>
  Empty file
  {{atm-workflow/value-editors/full-value-editor
    stateManager=emptyFileEditorStateManager
  }}
</p>
<p>
  Selected file
  {{atm-workflow/value-editors/full-value-editor
    stateManager=selectedFileEditorStateManager
  }}
</p>

<h3>Dataset</h3>
<p>
  Empty dataset
  {{atm-workflow/value-editors/full-value-editor
    stateManager=emptyDatasetEditorStateManager
  }}
</p>
<p>
  Selected dataset
  {{atm-workflow/value-editors/full-value-editor
    stateManager=selectedDatasetEditorStateManager
  }}
</p>

<h3>Array of strings</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=arrayStringEditorStateManager
  }}
</p>

<h3>Array of arrays of ranges</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=arrayArrayRangeEditorStateManager
  }}
</p>

<h3>Array of files</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=arrayFileEditorStateManager
  }}
</p>

<h3>Array of datasets</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=arrayDatasetEditorStateManager
  }}
</p>
