<h3>Integer</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=integerEditorStateManager}}
</p>

<h3>Object</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=objectEditorStateManager}}
</p>

<h3>Range</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=rangeEditorStateManager}}
</p>

<h3>String</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=stringEditorStateManager}}
</p>

<h3>Time series measurement</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor
    stateManager=timeSeriesMeasurementEditorStateManager
  }}
</p>
