{{#one-draggable-object
  content=parallelBox
  dragHandle=".parallel-box-drag-handle"
  isDraggable=(eq mode "edit")
  class="draggable-parallel-box"
}}
  {{#if (eq mode "edit")}}
    {{one-inline-editor
      class="parallel-box-name"
      value=name
      hideViewIcons=true
      onSave=(action "changeName")
    }}
    {{one-icon
      icon="settings-circle-filled"
      class=(concat-classes
        "parallel-box-actions-trigger"
        (concat "actions-trigger-" elementId)
        (if areActionsOpened "active")
      )
      click=(action "toggleActionsOpen" (not areActionsOpened))
    }}
    {{#render-later triggerRender=areActionsOpened}}
      {{#one-webui-popover
        class="parallel-box-actions"
        padding=false
        popoverStyle="with-dropdown"
        triggerSelector=(concat ".actions-trigger-" elementId)
        open=areActionsOpened
        onToggle=(action "toggleActionsOpen")
        as |popover|
      }}
        {{#click-outside
          action=(action "toggleActionsOpen" false)
          except-selector=(concat ".actions-trigger-" elementId)
        }}
          {{actions-popover-content
            actionsArray=parallelBoxActions
            actionClicked=(action (mut areActionsOpened) false)
          }}
        {{/click-outside}}
      {{/one-webui-popover}}
    {{/render-later}}
    <div class="parallel-box-drag-handle">
      {{one-icon icon="checkbox-empty"}}
    </div>
  {{else}}
    {{#truncated-string class="parallel-box-name"}}{{name}}{{/truncated-string}}
  {{/if}}
  <div class="box-elements">
    {{#each parallelBoxElements as |parallelBoxElement|}}
      {{workflow-visualiser/visualiser-element-renderer
        elementModel=parallelBoxElement
      }}
    {{/each}}
  </div>
{{/one-draggable-object}}
{{yield}}
