<button
  class="move-runs-btn show-prev-runs"
  disabled={{lte hiddenPrevRunsCount 0}}
  {{action "showPrevRuns"}}
>
  {{one-icon icon="arrow-left"}}
</button>
<ol class="run-indicators-list">
  {{#each visibleRunsArray key="runNumber" as |run|}}
    <li
      class="run-indicators-item {{get visibleRunsClasses run.runNumber}}"
      style={{html-safe (get visibleRunsStyles run.runNumber)}}
    >
      {{workflow-visualiser/lane/run-indicator
        status=run.status
        runNumber=run.runNumber
        originRunNumber=run.originRunNumber
        runType=run.runType
        isSelected=(eq selectedRunNumber run.runNumber)
        onClick=(action "selectRun" run.runNumber)
      }}
    </li>
  {{/each}}
</ol>
<button
  class="move-runs-btn show-next-runs"
  disabled={{lte hiddenNextRunsCount 0}}
  {{action "showNextRuns"}}
>
  {{one-icon icon="arrow-right"}}
</button>
{{yield}}
