{{#one-draggable-object
  content=task
  dragHandle=".task-drag-handle"
  isDraggable=(eq mode "edit")
  class="draggable-task"
  click=(action "headerClick")
}}
  <div class="task-drag-handle">{{record-icon modelName="atmLambda"}}</div>
  {{#if (eq mode "edit")}}
    {{one-inline-editor
      class="task-name"
      value=name
      hideViewIcons=true
      onSave=(action "changeName")
    }}
    {{one-icon
      icon="settings-circle-filled"
      class=(concat-classes
        "task-actions-trigger"
        (concat "actions-trigger-" elementId)
        (if areActionsOpened "active")
      )
      click=(action "toggleActionsOpen" (not areActionsOpened))
    }}
    {{#render-later triggerRender=areActionsOpened}}
      {{#one-webui-popover
        class="task-actions"
        padding=false
        popoverStyle="with-dropdown"
        triggerSelector=(concat ".actions-trigger-" elementId)
        open=areActionsOpened
        onToggle=(action "toggleActionsOpen")
        as |popover|
      }}
        {{#click-outside
          action=(action "toggleActionsOpen" false)
          except-selector=(concat ".actions-trigger-" elementId)
        }}
          {{actions-popover-content
            actionsArray=taskActions
            actionClicked=(action (mut areActionsOpened) false)
          }}
        {{/click-outside}}
      {{/one-webui-popover}}
    {{/render-later}}
  {{else}}
    {{#truncated-string class="task-name"}}{{name}}{{/truncated-string}}
  {{/if}}
{{/one-draggable-object}}
{{#if (eq mode "view")}}
  {{#one-collapse
    class="task-details-collapse"
    collapsed=(not areDetailsExpanded)
  }}
    <div class="task-details">
      <div class="detail-entries">
        <div class="detail-entry status-detail">
          <div class="detail-label">{{tt this "details.status"}}:</div>
          <div class="detail-value">{{statusTranslation}}</div>
        </div>
        <div class="detail-entry items-in-processing-detail">
          <div class="detail-label">{{tt this "details.itemsInProcessing"}}:</div>
          <div class="detail-value">{{itemsInProcessing}}</div>
        </div>
        <div class="detail-entry items-processed-detail">
          <div class="detail-label">{{tt this "details.itemsProcessed"}}:</div>
          <div class="detail-value">{{itemsProcessed}}</div>
        </div>
        <div class="detail-entry items-failed-detail">
          <div class="detail-label">{{tt this "details.itemsFailed"}}:</div>
          <div class="detail-value">{{itemsFailed}}</div>
        </div>
        <div class="detail-entry audit-log-detail">
          <a class="clickable show-audit-log" {{action "showAuditLog"}}>
            {{tt this "details.auditLog"}}
          </a>
        </div>
      </div>
    </div>
  {{/one-collapse}}
{{/if}}
{{yield}}
