{{#if topHeaderPresenterComponent}}
  {{component topHeaderPresenterComponent
    class="root-presenter-header"
    value=value
    dataSpec=dataSpec
    context=context
  }}
{{/if}}

<ol class="array-items-list" start="0">
  {{#each itemsToRender as |item index|}}
    {{#let (get expandedItems index) as |isExpanded|}}
      <li class={{concat-classes "array-item" (if isExpanded "expanded")}}>
        <div
          class="array-item-header clickable"
          onclick={{action "toggleItemExpand" index}}
        >
          {{component itemHeaderPresenterComponent
            value=item
            dataSpec=itemDataSpec
            context=context
          }}
          {{one-icon
            icon=(if isExpanded "arrow-up" "arrow-down")
            class="array-item-collapse-icon"
          }}
        </div>
        {{#if isExpanded}}
          <div class="array-item-content">
            {{component itemContentPresenterComponent
              value=item
              dataSpec=itemDataSpec
              context=context
              isRootPresenter=false
            }}
          </div>
        {{/if}}
      </li>
    {{/let}}
  {{/each}}
</ol>

{{#if isShowingMoreItemsPossible}}
  {{#one-button
    size="sm"
    class="show-more-array-items"
    onClick=(action "showMoreItems")
  }}
    {{tt this "showMoreItems" count=showMoreItemsChunkSize}}
  {{/one-button}}
{{/if}}
