<td class="row-label"></td>
{{#each columnsData as |columnData|}}
  <td
    class="entry-data entry-{{columnData.type}} entry-{{columnData.name}}"
    colspan={{if columnData.takesWholeRow "9999" "1"}}
  >
    {{#if (gt columnData.value.length 20)}}
      {{#truncated-string}}{{columnData.value}}{{/truncated-string}}
    {{else}}
      {{columnData.value}}
    {{/if}}
  </td>
{{/each}}
{{yield}}
