{{#if isInViewMode}}
  {{#if selectedOption.icon}}
    {{one-icon icon=selectedOption.icon}}
  {{/if}}
  <span class="text">{{selectedOption.label}}</span>
{{else}}
  {{#one-dropdown
    tagName="div"
    disabled=(not isEffectivelyEnabled)
    options=preparedOptions
    onchange=(action "valueChanged")
    selected=selectedOption
    placeholder=placeholder
    renderInPlace=false
    onblur=(action "triggerFocusLost")
    onclose=(action "focusLost")
    triggerId=fieldId
    searchEnabled=showSearch
    matcher=matchDropdownOption
    triggerClass="dropdown-field-trigger"
    dropdownClass="dropdown-field-dropdown"
    as |option|
  }}
    <div class="option-container option-{{option.name}}">
      {{#if option.icon}}
        {{one-icon icon=option.icon}}
      {{/if}}
      {{#truncated-string class="text"}}
        {{option.label}}
      {{/truncated-string}}
    </div>
  {{/one-dropdown}}
{{/if}}
{{yield}}
