{{#if (not field.preparedOptions.isRejected)}}
  {{#power-select
    tagName="div"
    options=field.preparedOptions
    onchange=(action "valueChanged")
    selected=(find-by "value" value field.preparedOptions)
    loadingMessage=field.loadingMessage
    placeholder=field.placeholder
    renderInPlace=true
    onblur=(action "focusLost")
    triggerId=fieldId
    searchEnabled=field.showSearch
    as |option|
  }}
    <div class="option-container">
      {{#if option.icon}}
        {{one-icon icon=option.icon}}
      {{/if}}
      <span class="text">{{option.label}}</span>
    </div>
  {{/power-select}}
{{else}}
  {{resource-load-error reason=field.preparedOptions.reason}}
{{/if}}
{{yield}}
