{{#if (or field.label field.tip)}}
  <label class="control-label" for={{fieldId}}>
    {{field.label}}{{#if field.addColonToLabel}}:{{/if}}
    {{#if field.tip}}
      {{one-label-tip class="form-field-tip" title=field.tip}}
    {{/if}}
  </label>
{{/if}}
{{#component field.fieldComponentName field=field fieldId=fieldId}}
  {{#if (and isModified field.withValidationIcon)}}
    <div class="form-control-feedback glyphicon glyphicon-{{if isValid "ok" "remove"}}"></div>
  {{/if}}
{{/component}}
{{#if (and isModified error)}}
  <div class="field-message">{{error.message}}</div>
{{/if}}
{{yield}}
