{{#if field.isGroup}}
  {{#one-collapse class=(concat-classes "fields-group-collapse" (concat field.name "-collapse")) collapsed=(not isExpanded)}}
    {{#each field.fields as |nestedField|}}
      {{form-component/field-renderer field=nestedField}}
    {{/each}}
  {{/one-collapse}}
{{else}}
  {{#if field.label}}
    <label class="control-label" for={{fieldId}}>{{field.label}}:</label>
  {{/if}}
  {{#component field.fieldComponentName field=field fieldId=fieldId}}
    {{#if (and showValidationState field.withValidationIcon)}}
      <div class="form-control-feedback glyphicon glyphicon-{{if isValid "ok" "remove"}}"></div>
    {{/if}}
  {{/component}}
  {{#if (and showValidationState error)}}
    <div class="field-message">{{error.message}}</div>
  {{/if}}
{{/if}}
