{{#if (or label tip)}}
  <label class="control-label" for={{fieldId}}>
    {{label}}{{#if addColonToLabel}}:{{/if}}
    {{#if tip}}
      {{one-label-tip class="form-field-tip" title=tip}}
    {{/if}}
  </label>
{{/if}}
{{#component fieldComponentName field=field fieldId=fieldId}}
  {{#if canShowValidationIcon}}
    <div class="form-control-feedback glyphicon glyphicon-{{if isValid "ok" "remove"}}"></div>
  {{/if}}
{{/component}}
{{#if canShowValidationMessage}}
  <div class="field-message">{{error.message}}</div>
{{/if}}
{{yield}}
