{{#global-modal
  classNames="store-modal"
  allowClose=(not isSubmitting)
  modalId=modalId
  size=(if (eq activeTab "content") "xl" "lg")
  as |modal|
}}

  {{#modal.header}}
    <h1>{{#truncated-string}}{{headerText}}{{/truncated-string}}</h1>
  {{/modal.header}}

  {{#modal.body}}
    {{#if areTabsVisible}}
      {{#bs-tab
        class="bs-tab-onedata bs-tab-modern"
        activeId=activeTab
        customTabs=true
        onChange=(action "changeTab")
        as |tab|
      }}
        {{#bs-nav type="tabs" as |nav|}}
          {{#each (array "details" "content") as |tabId|}}
            {{#nav.item active=(eq tab.activeId tabId)}}
              <a
                class={{concat "nav-link nav-link-" tabId}}
                role="tab"
                {{action (mut activeTab) tabId}}
              >
                {{tt this (concat "tabs." tabId ".title")}}
              </a>
            {{/nav.item}}
          {{/each}}
        {{/bs-nav}}
      {{/bs-tab}}
    {{/if}}
    {{#if (eq activeTab "details")}}
      {{modals/workflow-visualiser/store-modal/store-form
        mode=mode
        store=store
        allowedStoreTypes=allowedStoreTypes
        allowedStoreReadDataSpec=allowedStoreReadDataSpec
        allowedStoreWriteDataSpec=allowedStoreWriteDataSpec
        onChange=(action "formChange")
        isDisabled=isSubmitting
      }}
    {{else if isContentTabRendered}}
      {{#if (eq store.type "range")}}
        {{modals/workflow-visualiser/store-modal/range-presenter
          store=store
          getStoreContentCallback=getStoreContentCallback
          emptyStoreText=emptyStoreText
        }}
      {{else if (eq store.type "singleValue")}}
        {{modals/workflow-visualiser/store-modal/single-value-presenter
          store=store
          getStoreContentCallback=getStoreContentCallback
          emptyStoreText=emptyStoreText
        }}
      {{else if (eq contentTabRenderer "generic")}}
        {{modals/workflow-visualiser/store-modal/store-content-table
          store=store
          getStoreContentCallback=getStoreContentCallback
          emptyStoreText=emptyStoreText
        }}
      {{else if (eq contentTabRenderer "auditLog")}}
        {{modals/workflow-visualiser/store-modal/audit-log-presenter
          store=store
          getStoreContentCallback=getStoreContentCallback
          getTaskRunForInstanceIdCallback=getTaskRunForInstanceIdCallback
          actionsFactory=actionsFactory
        }}
      {{else if (eq contentTabRenderer "timeSeries")}}
        {{modals/workflow-visualiser/store-modal/time-series-presenter
          store=store
          getStoreContentCallback=getStoreContentCallback
        }}
      {{/if}}
    {{/if}}
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#if (eq activeTab "content")}}
      {{#bs-button
        type="primary"
        class="btn-refresh pull-left"
        onClick=(action "reloadContentTab")
      }}
        {{tt this "button.refresh"}}
      {{/bs-button}}
    {{/if}}
    {{#bs-button
      type="default"
      class="btn-cancel"
      onClick=modal.close
      disabled=isSubmitting
    }}
      {{cancelBtnText}}
    {{/bs-button}}
    {{#if (not-eq mode "view")}}
      {{#one-button
        type="primary"
        buttonType="submit"
        class="btn-submit"
        onClick=(action "submit" modal.submit)
        disabled=(not formIsValid)
      }}
        {{submitBtnText}}
      {{/one-button}}
    {{/if}}
  {{/modal.footer}}

{{/global-modal}}
