{{#global-modal
  classNames="store-modal"
  allowClose=(not isSubmitting)
  modalId=modalId
  size=(if (eq activeTab "content") "xl" null)
  as |modal|
}}

  {{#modal.header}}
    <h1>{{#truncated-string}}{{headerText}}{{/truncated-string}}</h1>
  {{/modal.header}}

  {{#modal.body}}
    {{#if areTabsVisible}}
      {{#bs-tab
        class="bs-tab-onedata bs-tab-modern"
        activeId=activeTab
        onChange=(action "changeTab")
        as |tab|
      }}
        {{tab.pane id="details" title=(tt this "tabs.details.title")}}
        {{tab.pane id="content" title=(tt this "tabs.content.title")}}
      {{/bs-tab}}
    {{/if}}
    {{#if (eq activeTab "details")}}
      {{modals/workflow-visualiser/store-modal/store-form
        mode=mode
        store=store
        allowedStoreTypes=allowedStoreTypes
        allowedDataTypes=allowedDataTypes
        onChange=(action "formChange")
        isDisabled=isSubmitting
      }}
    {{else if isContentTabRendered}}
      {{modals/workflow-visualiser/store-modal/store-content-table
        store=store
        getStoreContentCallback=getStoreContentCallback
        emptyStoreText=emptyStoreText
      }}
    {{/if}}
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#if (eq activeTab "content")}}
      {{#bs-button
        type="primary"
        class="btn-refresh pull-left"
        onClick=(action "reloadContentTab")
      }}
        {{tt this "button.refresh"}}
      {{/bs-button}}
    {{/if}}
    {{#bs-button
      type="default"
      class="btn-cancel"
      onClick=modal.close
      disabled=isSubmitting
    }}
      {{cancelBtnText}}
    {{/bs-button}}
    {{#if (not-eq mode "view")}}
      {{#one-spin-button
        class="btn btn-primary btn-submit"
        action=(action "submit" modal.submit)
        disabled=(not formIsValid)
      }}
        {{submitBtnText}}
      {{/one-spin-button}}
    {{/if}}
  {{/modal.footer}}

{{/global-modal}}
