<p>{{tt this "intro"}}</p>
<h2>{{tt this "details"}}</h2>
<p>
  {{tt this "text1Prefix"}}
  {{tt this (concat "text1Suffix." serverType)}}
</p>
<p>
  {{clipboard-line
    value=connectionUrl
    size="sm"
  }}
</p>
<p>
  {{tt this "text2"}}
</p>
<ul class="info info-condensed info-gray">
  <li>{{tt this "liOffline"}}</li>
  <li>
    {{tt this "liCert"}} 
    <a href={{tlsUrl}} target="_blank" onmousedown={{action "setFastPolling"}}>{{tlsUrl}}</a>)
  </li>
  <li>{{tt this "liDomain"}}</li>
  <li>{{tt this "liNetwork"}}</li>
</ul>
