{{#atm-workflow/value-editors/commons/editor-box
  editorState=editorState
  onRemove=onRemove
  class=(if (eq mode "raw") (concat-classes "editor-with-json" (if (not isValid) "invalid")))
  as |editorBox|
}}
  {{#if (eq editorBox.section "toolbar")}}
    <a
      class="mode-trigger action-link {{if isToggleModeDisabled "disabled" "clickable"}}"
      {{action "toggleMode"}}
    >
      {{tt this (concat "modes." (if (eq mode "visual") "raw" "visual"))}}
      {{#if (and isToggleModeDisabled toggleModeDisabledTip)}}
        {{one-tooltip title=toggleModeDisabledTip}}
      {{/if}}
    </a>
    {{#if (eq mode "visual")}}
      <span class="separator"></span>
      <span class="items-count">{{itemsCountText}}</span>
    {{/if}}
    {{#if (or (eq mode "raw") itemEditorStates.length)}}
      <span class="separator"></span>
      <a
        id={{clearTriggerId}}
        class="clear-trigger action-link {{if isThereSomethingToClear "clickable" "disabled"}}"
        {{action "toggleClearConfirmation" (not isClearConfirmationOpened)}}
      >
        {{tt this "clear"}}
        {{#render-later triggerRender=isClearConfirmationOpened}}
          {{#one-webui-popover
            class="clear-array-confirmation"
            triggerSelector=(concat "#" clearTriggerId)
            open=isClearConfirmationOpened
            as |popover|
          }}
            {{#click-outside
              onClickOutside=(action "toggleClearConfirmation" false)
              exceptSelector=(concat "#" clearTriggerId)
            }}
              <p>{{tt this "clearConfirmation.question"}}</p>
              <div class="buttons-container">
                {{#one-button
                  size="sm"
                  type="default"
                  onClick=(action "toggleClearConfirmation" false)
                }}
                  {{tt this "clearConfirmation.no"}}
                {{/one-button}}
                {{#one-button
                  size="sm"
                  type="danger"
                  onClick=(action "confirmClear")
                }}
                  {{tt this "clearConfirmation.yes"}}
                {{/one-button}}
              </div>
            {{/click-outside}}
          {{/one-webui-popover}}
        {{/render-later}}
      </a>
    {{/if}}
  {{else if (eq editorBox.section "content")}}
    {{#if (eq mode "visual")}}
      {{#if itemEditorStates.length}}
        <ol class="array-items">
          {{#each sectionsOfItemEditorStates.visibleAtTop as |itemEditorState|}}
            <li class="array-item array-regular-item">
              {{component itemEditorState.editorComponentName
                stateManager=stateManager
                editorId=itemEditorState.id
                onRemove=(action "removeItem" itemEditorState.id)
              }}
            </li>
          {{/each}}
          {{#if sectionsOfItemEditorStates.hidden.length}}
          <li class="array-item array-collapsed-item">
            <p>
              {{tt this "hiddenItems.counter"
                hiddenItemsCount=sectionsOfItemEditorStates.hidden.length
              }}
            </p>
            <div class="editor-box-toolbar">
              {{#if (lt
                itemsVisibilityConfiguration.changeVisibilityStep
                sectionsOfItemEditorStates.hidden.length
              )}}
                <a
                  class="action-link clickable show-next-items"
                  {{action "showNextItems"}}
                >
                  {{tt this "hiddenItems.showNext"
                    changeVisibilityStep=itemsVisibilityConfiguration.changeVisibilityStep
                  }}
                </a>
                <span class="separator"></span>
              {{/if}}
              <a
                class="action-link clickable show-all-items"
                {{action "showAllItems"}}
              >
                {{tt this "hiddenItems.showAll"}}
              </a>
            </div>
          </li>
          {{/if}}
          {{#each sectionsOfItemEditorStates.visibleAtBottom as |itemEditorState|}}
            <li class="array-item array-regular-item">
              {{component itemEditorState.editorComponentName
                stateManager=stateManager
                editorId=itemEditorState.id
                onRemove=(action "removeItem" itemEditorState.id)
              }}
            </li>
          {{/each}}
        </ol>
      {{/if}}
      {{component editorState.itemCreatorComponentName
        stateManager=stateManager
        itemAtmDataSpec=editorState.itemAtmDataSpec
        onItemsCreated=(action "itemCreated")
      }}
    {{else}}
      {{ember-ace
        editorClass="full-height"
        value=stringifiedValue
        worker="ace/mode/json_worker"
        mode="ace/mode/json"
        theme="ace/theme/textmate"
        tabSize=2
        useWrapMode=true
        highlightActiveLine=true
        showLineNumbers=true
        showPrintMargin=false
        update=(action "rawValueChanged")
      }}
    {{/if}}
  {{/if}}
{{/atm-workflow/value-editors/commons/editor-box}}
