{{#if item.icon}}
  {{one-icon class=iconClass icon=item.icon}}
{{/if}}
<span class="one-label sidebar-item-title">{{item.label}}</span>
{{#if item.warningMessage}}
  <img class="warning-icon {{item.id}}-warning-icon" src={{root-url "assets/images/sign-warning-large.svg"}}>
  {{#unless media.isMobile}}
    {{one-tooltip
      title=item.warningMessage
      triggerElement=(concat ".item-" item.id " .warning-icon")
      triggerEvent="hover"
    }}
  {{/unless}}
{{/if}}
{{#if item.forbidden}}
  {{one-icon class="forbidden-icon one-icon-internal" icon="no-view"}}
{{/if}}
