{{#global-modal
  classNames="unsaved-changes-question-modal"
  allowClose=(not isSubmitting)
  modalId=modalId
  as |modal|
}}

  {{#modal.header}}
    <h1>
      {{one-icon icon="sign-warning-rounded"}}
      <span class="one-label">{{tt this "header"}}</span>
    </h1>
  {{/modal.header}}

  {{#modal.body}}
    <p class="disclaimer text-danger">{{tt this "body.disclaimer"}}</p>
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#one-button
      class="question-dont-save pull-left no-left-margin"
      onClick=(action "submit" modal.submit false)
      disabled=isSubmitting
    }}
      {{tt this "button.dontSave"}}
    {{/one-button}}
    {{#bs-button
      type="default"
      class="question-cancel"
      onClick=modal.close
      disabled=isSubmitting
    }}
      {{tt this "button.cancel"}}
    {{/bs-button}}
    {{#one-button
      type="primary"
      buttonType="submit"
      class="question-save"
      onClick=(action "submit" modal.submit true)
      disabled=isSubmitting
    }}
      {{tt this "button.save"}}
    {{/one-button}}
  {{/modal.footer}}

{{/global-modal}}
