<div class="drop-title-bar">
  {{#truncated-string class="provider-label"}}
    <span class="hidden-xs">
      {{#one-icon icon="provider" class="state-indicator"}}
        {{one-tooltip title=(tt this (if provider.online "online" "offline"))}}
      {{/one-icon}}
      {{#truncated-string}}{{name-conflict item=provider tagName="span"}}{{/truncated-string}}
    </span>
    <span class="hidden-sm hidden-md hidden-lg">{{tt this "status"}}</span>
  {{/truncated-string}}
  <div class="provider-label-secondary hidden-sm hidden-md hidden-lg">
    {{#if provider.online}}
      {{tt this "online"}}
    {{else}}
      {{tt this "offline"}}
    {{/if}}
  </div>  
</div>
<div class="drop-provider-host-container">
  <input class="provider-host-text truncate {{concat "host-input-" (model-routable-id provider.id)}}" value={{provider.host}} readonly>
  <div class="provider-host-copy-btn-container">
    {{#copy-button
      tagName="div"
      success=(action "copySuccess")
      error=(action "copyError")
      class="provider-host-copy-btn clickable"
      clipboardTarget=(concat ".host-input-" (model-routable-id provider.id))}}
      {{one-icon tagName="div" icon="browser-copy"}}
    {{/copy-button}}
  </div>
</div>
<div class="drop-body">
  {{!-- TODO: location name - get it from Google Maps API --}}
  {{!-- <div class="provider-location">
    {{provider.location}}
  </div> --}}
  <div class="loadable-row sm spaces-list">
    {{#perfect-scrollbar-element class="full-height relative"}}
      {{#loading-container isLoading=_spacesLoading sizeClass="sm" errorReason=_spaceListError}}
        <ul class="spaces-items">
          {{#each _spacesSorted as |space|}}
            {{provider-place/drop/space
              space=space
              provider=provider
              providerVersion=providerVersion
            }}
          {{/each}} 
        </ul>
      {{/loading-container}}
    {{/perfect-scrollbar-element}}
  </div>
  <hr>
  <div class="btn-container">
    {{#if provider.online}}
      <div class="row row-btn">
        <a href={{visitProviderUrl}} class="btn btn-sm btn-go-to-files btn-primary">
          {{one-icon icon="provider"}}
          <span class="text">
            {{tt this "goToFiles"}}
          </span>
        </a>
      </div>
    {{else}}
      <div class="row row-btn">
        <div class="btn btn-danger no-pointer-events offline-badge">
          {{tt this "offline"}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
