<div class="drop-title-bar">
  {{#truncated-string class="provider-label"}}
    <span class="hidden-xs">{{provider.name}}</span>
    <span class="hidden-sm hidden-md hidden-lg">{{t "components.providerPlace.drop.status"}}</span>
  {{/truncated-string}}
  {{#unless provider.isOnline}}
    <div class="provider-label-secondary">
      {{#if (eq provider.status "online")}}
        {{t "components.providerPlace.drop.online"}}
      {{else if (eq provider.status "offline")}}
        {{t "components.providerPlace.drop.offline"}}
      {{else}}
        {{t "components.providerPlace.drop.pending"}}
      {{/if}}
    </div>  
  {{/unless}}
</div>
<div class="drop-provider-host-container">
  <input class="provider-host-text truncate {{concat "host-input-" provider.entityId}}" value={{provider.host}} readonly>
    {{#copy-button
      tagName="div"
      success=(action "copySuccess")
      error=(action "copyError")
      class="provider-host-copy-btn clickable"
      clipboardTarget=(concat ".host-input-" provider.entityId)}}
    {{one-icon tagName="div" icon="clipboard-copy"}}
  {{/copy-button}}
</div>
<div class="drop-body">
  {{!-- TODO: location name - get it from Google Maps API --}}
  {{!-- <div class="provider-location">
    {{provider.location}}
  </div> --}}
  <div class="row loadable-row sm spaces-list">
    {{#loading-container isLoading=(not _spacesLoaded) sizeClass="sm"}}
      {{#one-collapsible-list as |list|}}
        {{#each _spacesSorted as |space|}}
        {{#list.item isCollapsible=false as |item|}}
          {{#item.header}}
            {{provider-place/drop/space space=space providerId=provider.entityId}}
          {{/item.header}}
        {{/list.item}}
        {{/each}} 
      {{/one-collapsible-list}}
    {{/loading-container}}
  </div>
  {{#unless (eq provider.status "offline")}}
    <hr>
    <div class="btn-container">
      {{#if (eq provider.status "online")}}
        {{#link-to "onedata.sidebar.content.aspect" "redirect"
          class="btn btn-sm btn-go-to-files btn-primary"}}
          {{t "components.providerPlace.drop.goToFiles"}}
        {{/link-to}}
      {{else if (eq provider.status "pending")}}
        {{#bs-button type="primary" disabled=true class="btn-go-to-files"}}
          {{t "components.providerPlace.drop.pending"}}
        {{/bs-button}}
      {{/if}}
    </div>
  {{/unless}}
</div>
