<div class="drop-title-bar">
  {{#truncated-string class="provider-label"}}
    {{provider.name}}
  {{/truncated-string}}
  {{#unless provider.isOnline}}
    <div class="provider-label-secondary">
      {{#if (eq provider.status "offline")}}
        {{t "components.providerPlace.drop.offline"}}
      {{else if (eq provider.status "pending")}}
        {{t "components.providerPlace.drop.pending"}}
      {{/if}}
    </div>  
  {{/unless}}
</div>
<div class="drop-provider-host-container">
  <input class="provider-host-text truncate {{concat "host-input-" provider.id}}" value={{provider.host}} readonly>
    {{#copy-button
      tagName="div"
      success=(action "copySuccess")
      error=(action "copyError")
      class="provider-host-copy-btn clickable"
      clipboardTarget=(concat ".host-input-" provider.id)}}
    {{one-icon tagName="div" icon="clipboard-copy"}}
  {{/copy-button}}
</div>
<div class="drop-body">
  {{!-- TODO: location name - get it from Google Maps API --}}
  {{!-- <div class="provider-location">
    {{provider.location}}
  </div> --}}
  <ul>
    {{#each _spacesSorted as |space|}}
      {{provider-place/drop/space space=space providerId=provider.id}}
    {{/each}} 
  </ul>
  {{#unless (eq provider.status "offline")}}
    <hr>
    {{#if (eq provider.status "online")}}
      {{!-- TODO button below is only a placeholder. Link-to needs to be fixed --}}
      {{!-- {{#link-to "onezone.provider-redirect" provider.id
        class="btn btn-sm btn-go-to-files btn-primary"}}
        {{t "components.providerPlace.drop.goToFiles"}}
      {{/link-to}} --}}
      <button class="btn btn-go-to-files btn-primary">
        {{t "components.providerPlace.drop.goToFiles"}}
      </button>
    {{else if (eq provider.status "pending")}}
      {{#bs-button type="primary" disabled=true class="btn-go-to-files"}}
        {{t "components.providerPlace.drop.pending"}}
      {{/bs-button}}
    {{/if}} 
  {{/unless}}
</div>
