<div class="drop-title-bar">
  {{#truncated-string class="provider-label"}}
    <span class="hidden-xs">
      {{#one-icon icon="provider" class="state-indicator"}}
        {{one-tooltip title=(tt this (if (eq provider.status "online") "online" "offline"))}}
      {{/one-icon}}
      {{#truncated-string}}{{provider.name}}{{/truncated-string}}
    </span>
    <span class="hidden-sm hidden-md hidden-lg">{{tt this "status"}}</span>
  {{/truncated-string}}
  <div class="provider-label-secondary hidden-sm hidden-md hidden-lg">
    {{#if (eq provider.status "online")}}
      {{tt this "online"}}
    {{else}}
      {{tt this "offline"}}
    {{/if}}
  </div>  
</div>
<div class="drop-provider-host-container">
  <input class="provider-host-text truncate {{concat "host-input-" provider.entityId}}" value={{provider.host}} readonly>
  <div class="provider-host-copy-btn-container">
    {{#copy-button
      tagName="div"
      success=(action "copySuccess")
      error=(action "copyError")
      class="provider-host-copy-btn clickable"
      clipboardTarget=(concat ".host-input-" provider.entityId)}}
      {{one-icon tagName="div" icon="clipboard-copy"}}
    {{/copy-button}}
  </div>
</div>
<div class="drop-body">
  {{!-- TODO: location name - get it from Google Maps API --}}
  {{!-- <div class="provider-location">
    {{provider.location}}
  </div> --}}
  {{#perfect-scrollbar-element tagName="div" class="loadable-row sm spaces-list"}}
    {{#loading-container isLoading=_spacesLoading sizeClass="sm" errorReason=_spaceListError}}
      <ul class="spaces-items">
        {{#each _spacesSorted as |space|}}
          {{provider-place/drop/space space=space providerId=provider.entityId}}
        {{/each}} 
      </ul>
    {{/loading-container}}
  {{/perfect-scrollbar-element}}
  {{#unless (eq provider.status "offline")}}
    <hr>
    <div class="btn-container">
      {{#if (eq provider.status "online")}}
        {{#link-to "onedata.sidebar.content.aspect" "redirect"
          class="btn btn-sm btn-go-to-files btn-primary"}}
          {{tt this "goToFiles"}}
        {{/link-to}}
      {{/if}}
    </div>
  {{/unless}}
</div>
