{{#truncated-string}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon="provider" color=color}}
  </span>
  <span class="one-label">{{provider.name}}</span>
{{/truncated-string}}

{{#if _renderStatus}}
  {{#status-toolbar as |toolbar|}}
    {{#if showSupportedSpacesCount}}
      {{toolbar.icon
        class="supported-spaces"
        icon="space"
        hint=(t
          "components.providersList.providerItem.supportedSpaces"
          count=_spacesCount
        )
        innerText=_spacesCount
      }}
    {{/if}}
    {{#if showSelectedSpaceSupportSize}}
      {{toolbar.icon
        class="space-support-size"
        icon="provider"
        hint=(t
          "components.providersList.providerItem.spaceSupportSize"
          size=_spaceSupportSize
        )
        outerText=_spaceSupportSize
      }}
    {{/if}}
  {{/status-toolbar}}
{{/if}}

{{#if providerActions.length}}
  {{#one-collapsible-toolbar
    isMinimized=true
    toggleBtnClass="btn-menu-toggle provider-menu-toggle"
    as |dropdown|
  }}
    {{#each providerActions as |providerAction|}}
    {{#dropdown.item
      itemAction=(action providerAction.action provider)
      triggerClasses=providerAction.class
    }}
      {{providerAction.text}}
    {{/dropdown.item}}
    {{/each}}
  {{/one-collapsible-toolbar}}
{{/if}}