<div class="provider-name-info">
  {{provider-info 
    provider=provider
    iconColor=color
    multiOneproviders=false
    class="provider-item-name-line"
  }}
</div>
<div class="status-toolbar-container">
  {{#if _renderStatus}}
    {{#status-toolbar class=(unless providerActions.length "push-right") as |toolbar|}}

      {{#if showSupportedSpacesCount}}
        {{toolbar.icon
          class="supported-spaces"
          icon="space"
          hint=(t
            "components.providersList.providerItem.supportedSpaces"
            count=_spacesCount
          )
          innerText=_spacesCount
        }}
      {{/if}}
      {{#if showSelectedSpaceSupportSize}}
        {{toolbar.icon
          class="space-support-size"
          icon="provider"
          hint=(t
            "components.providersList.providerItem.spaceSupportSize"
            size=_spaceSupportSize
          )
          outerText=_spaceSupportSize
        }}
      {{/if}}
    {{/status-toolbar}}
  {{/if}}
</div>
{{#if providerActions.length}}
  {{#one-collapsible-toolbar
    isMinimized=true
    toggleBtnClass="btn-menu-toggle provider-menu-toggle"
    popoverClass="oneprovider-actions"
    as |dropdown|
  }}
    {{#each providerActions as |providerAction|}}
      {{#dropdown.item
        itemAction=(action providerAction.action provider)
        triggerClasses=providerAction.class
        isDisabled=providerAction.isDisabled
      }}
        {{#if providerAction.icon}}
          {{one-icon icon=providerAction.icon}}
        {{/if}}
        <span class="one-label">{{providerAction.text}}</span>
        {{#if providerAction.tip}}
          {{one-tooltip title=providerAction.tip placement="right"}}
        {{/if}}
      {{/dropdown.item}}
    {{/each}}
  {{/one-collapsible-toolbar}}
{{/if}}